
<div class="mat-elevation-z8">
  <div>
    <mat-form-field>
      <label>Filter</label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

<table mat-table [dataSource]="dataSource"]>
  <ng-container matColumnDef="column" *ngFor="let column of columns">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
    <mat-cell *matCellDef="let elem">{{elem.cellDef}}</mat-cell>
  </ng-container>
</table>
<!--
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.species }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="uniprot_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> uniprot_id </mat-header-cell>
            <mat-cell *matCellDef="let elem"> {{ elem.uniprot_id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="refseq_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> refseq_id </mat-header-cell>
                <mat-cell *matCellDef="let elem"> {{ elem.refseq_id }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="gene_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> gene_name </mat-header-cell>
                    <mat-cell *matCellDef="let elem"> {{ elem.gene_name }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="gene_symbol">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> gene_symbol </mat-header-cell>
                        <mat-cell *matCellDef="let elem"> {{ elem.gene_symbol }} </mat-cell>
                      </ng-container>

                  <ng-container matColumnDef="protein_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> protein_name </mat-header-cell>
                        <mat-cell *matCellDef="let elem"> {{ elem.protein_name }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="protein_entry">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> protein_entry </mat-header-cell>
                        <mat-cell *matCellDef="let elem"> {{ elem.protein_entry }} </mat-cell>
                  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table> -->
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
