<mat-form-field>
    <mat-label>Lab</mat-label>
    <mat-select [(value)]="lab">
        <mat-option value="Dong_Xu">Dong Xu</mat-option>
        <mat-option value="Jay_Thelen">Jay Thelen</mat-option>
        <mat-option value="Douglas_Allen">Douglas Allen</mat-option>
        <mat-option value="Philip_Bates">Philip Bates</mat-option>
        <mat-option value="Abe_Koo">Abe Koo</mat-option>
        <mat-option value="General">General</mat-option>
    </mat-select>
</mat-form-field>
<div class="dropzone"
    dropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering">
    <h3>Please Upload Files for your Event</h3>
    <p>Drag and Drop Files</p>
</div>

<!-- Add typical file input and make it work with a button -->

<h3>Uploads</h3>
<div *ngFor="let file of files">
    <app-upload-task [file]="file" [lab]="lab"></app-upload-task>
</div>

<div>
    <app-fileview></app-fileview>
</div>

