<div>
    <h1>Soy Bean</h1>
  </div>

  <div class="mat-elevation-z8">
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="species">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
          <mat-cell *matCellDef="let elem"> {{ elem.Species }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="uniprot_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Uniprot Page </mat-header-cell>
              <mat-cell *matCellDef="let elem"> <a href="http://uniprot.org/uniprot/{{elem.UniprotID}}" target="_blank">{{elem.UniprotID}}</a></mat-cell>
            </ng-container>

            <ng-container matColumnDef="refseq_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Refseq Page </mat-header-cell>
                  <mat-cell *matCellDef="let elem">{{ elem.RefSeq }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="gene_name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Name </mat-header-cell>
                      <mat-cell *matCellDef="let elem"> {{ elem.Genenames }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Alternativegenenames">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Alternative Gene Names </mat-header-cell>
                          <mat-cell *matCellDef="let elem"> {{ elem.Alternativegenenames }} </mat-cell>
                        </ng-container>

                    <ng-container matColumnDef="protein_name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Protein Name </mat-header-cell>
                          <mat-cell *matCellDef="let elem"> {{ elem.Proteinnames }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="protein_entry">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Protein Entry </mat-header-cell>
                          <mat-cell *matCellDef="let elem"> {{ elem.ProteinEntry }}</mat-cell>
                    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,2500]" showFirstLastButtons></mat-paginator>
