camelina_final_reformatted.csv
csvtofirestore.py
fatplant-76987-firebase-adminsdk-u9bby-92e91a6996.json
fatplant-Firebase.code-workspace
fattyacid_chemical_attributes.csv
reformatted_fatty_acid.csv
csvtofirestore.py
.vscode
fatplant/.firebase/hosting.ZGlzdA.cache
node_modules/
fatplant/src/environments/*
package-lock.json