
<br>
<h2>Names & Taxonomy</h2>
<strong>Protein General: </strong>
<table class="blueTable">
<tr>
<th><strong>Gene Name: </strong></th>
<td>{{items.gene_name}}</td>
</tr>
<tr>
<th><strong>Protein Name: </strong></th>
<td>{{items.protein_name}}</td>
</tr>
<tr>
<th><strong>Species: </strong></th>
<td>{{items.species}}</td>
</tr>
<tr>
<th><strong>Species Long: </strong></th>
<td>{{items.species_long}}</td>
</tr>
</table>
<br>
<strong>Protein Detail: </strong>
<table class="blueTable">
<tr>
<th><strong>Gene Symbol: </strong></th>
<td>{{items.gene_symbol}}</td>
</tr>
<tr>
<th><strong>Protein Lmp ID: </strong></th>
<td>{{items.lmp_id}}</td>
</tr>
<tr>
<th><strong>Protein mrna id:: </strong></th>
<td>{{items.mrna_id}}</td>
</tr>
<tr>
<th><strong>Protein Entry: </strong></th>
<td>{{items.protein_entry}}</td>
</tr>
<tr>
<th><strong>Protein GI: </strong></th>
<td>{{items.protein_gi}}</td>
</tr>
<tr>
<th><strong>Protein Refseq ID: </strong></th>
<td>{{items.refseq_id}}</td>
</tr>
<tr>
<th><strong>Protein Sequence Length: </strong></th>
<td>{{items.seqlength}}</td>
</tr>
<tr>
<th><strong>Protein Tax ID: </strong></th>
<td>{{items.taxid}}</td>
</tr>
<tr>
<th><strong>Protein Uniprot ID: </strong></th>
<td>{{items.uniprot_id}}</td>
</tr>
</table>
<br>
<h2>Sequence</h2>
<strong>Protein Sequence: </strong>
<p class="gfg">
<textarea>{{resultsequence}}</textarea>
</p>
<button class="small red button">Blast!</button>
<br><br>
<h2>PTM / Processing</h2>
<strong>Molecule processing: </strong>
<table class="blueTable">
<tr>
<th><strong>Feature key</strong></th>
<th><strong>Position(s)</strong></th>
<th><strong>Description</strong></th>
<!-- <th><strong>Actions</strong></th> -->
<!-- <th><strong>Graphical view</strong></th> -->
<th><strong>Length</strong></th>
</tr>
<tr>
<td>Transit peptidei</td>
<td>1 – 47</td>
<td>Chloroplast</td>
<td>47</td>
</tr>
<tr>
<td>Chain PRO_0000435264</td>
<td>48 – 188</td>
<td>Acyl-acyl carrier protein thioesterase ATL4, chloroplastic</td>
<td>141</td>
</tr>
</table>
<br>
<strong>Proteomic databases: </strong>
<table class="blueTable">
<tr>
<td>PaxDb</td>
<td>F4HX80</td>
</tr>
</table>

<br><br><br><br>



	<!-- <p class='col-md-6'>
			<img style="margin-left:1em;max-height:150px" src="http://opsin.ch.cam.ac.uk/opsin/Formic acid.png" alt="Formic acid" />
	</p> -->
