
<br>
<h2>Names & Taxonomy</h2>
<strong>Protein General: </strong>
<table class="blueTable">
<tr>
<th><strong>Gene Name: </strong></th>
<td>{{items.gene_name}}</td>
</tr>
<tr>
<th><strong>Protein Name: </strong></th>
<td>{{items.protein_name}}</td>
</tr>
<tr>
<th><strong>Species: </strong></th>
<td>{{items.species}}</td>
</tr>
<tr>
<th><strong>Species Long: </strong></th>
<td>{{items.species_long}}</td>
</tr>
</table>
<br>
<strong>Protein Detail: </strong>
<table class="blueTable">
<tr>
<th><strong>Gene Symbol: </strong></th>
<td>{{items.gene_symbol}}</td>
</tr>
<tr>
<th><strong>Protein Lmp ID: </strong></th>
<td>{{items.lmp_id}}</td>
</tr>
<tr>
<th><strong>Protein mrna id: </strong></th>
<td>{{items.mrna_id}}</td>
</tr>
<tr>
<th><strong>Protein Entry: </strong></th>
<td>{{items.protein_entry}}</td>
</tr>
<tr>
<th><strong>Protein GI: </strong></th>
<td>{{items.protein_gi}}</td>
</tr>
<tr>
<th><strong>Protein Refseq ID: </strong></th>
<td>{{items.refseq_id}}</td>
</tr>
<tr>
<th><strong>Protein Sequence Length: </strong></th>
<td>{{items.seqlength}}</td>
</tr>
<tr>
<th><strong>Protein Tax ID: </strong></th>
<td>{{items.taxid}}</td>
</tr>
<tr>
<th><strong>Protein Uniprot ID: </strong></th>
<td>{{items.uniprot_id}}</td>
</tr>
</table>
<br>
<h2>Sequence</h2>
<strong>Protein Sequence: </strong>
<p class="gfg">
<textarea>{{resultsequence}}</textarea>
</p>
<button class="small red button">Blast!</button>

<br><br><br>

<strong>PTM / Processing</strong>
<table class="blueTable">
<tr>
<th><strong>Entry name: </strong></th>
<td>{{tabitem.Entry_name}}</td>
</tr>
<tr>
<th><strong>Status: </strong></th>
<td>{{tabitem.Status}}</td>
</tr>
<tr>
<th><strong>Protein names: </strong></th>
<td>{{tabitem.Protein_names}}</td>
</tr>
<tr>
<th><strong>Gene names: </strong></th>
<td>{{tabitem.Gene_names}}</td>
</tr>
<tr>
<th><strong>Organism: </strong></th>
<td>{{tabitem.Organism}}</td>
</tr>
<tr>
<th><strong>Length: </strong></th>
<td>{{tabitem.Length}}</td>
</tr>
<tr>
<th><strong>Chain: </strong></th>
<td>{{tabitem.Chain}}</td>
</tr>
<tr>
<th><strong>Cross-link: </strong></th>
<td>{{tabitem.Cross-link}}</td>
</tr>
<tr>
<th><strong>Disulfide bond: </strong></th>
<td>{{tabitem.Disulfide_bond}}</td>
</tr>
<tr>
<th><strong>Glycosylation: </strong></th>
<td>{{tabitem.Glycosylation}}</td>
</tr>
<tr>
<th><strong>Initiator methionine: </strong></th>
<td>{{tabitem.Initiator_methionine}}</td>
</tr>
<tr>
<th><strong>Lipidation: </strong></th>
<td>{{tabitem.Lipidation}}</td>
</tr>
<tr>
<th><strong>Modified residue: </strong></th>
<td>{{tabitem.Modified_residue}}</td>
</tr>
<tr>
<th><strong>Peptide: </strong></th>
<td>{{tabitem.Peptide}}</td>
</tr>
<tr>
<th><strong>Post-translational modification: </strong></th>
<td>{{tabitem.Post-translational_modification}}</td>
</tr>
<tr>
<th><strong>Propeptide: </strong></th>
<td>{{tabitem.Propeptide}}</td>
</tr>
<tr>
<th><strong>Signal peptide: </strong></th>
<td>{{tabitem.Signal_peptide}}</td>
</tr>
<tr>
<th><strong>Transit peptide: </strong></th>
<td>{{tabitem.Transit_peptide}}</td>
</tr>
</table>

<br><br><br>

<strong>Family & Domains</strong>
<br>
<strong>Domains & Repeats</strong>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> detail </th>
    <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> start </th>
    <td mat-cell *matCellDef="let element"> {{element.start}} </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> end </th>
    <td mat-cell *matCellDef="let element"> {{element.end}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br><br><br>
