
<div class='row'>
	<div class='col-md-6'>
		<p><strong>Gene Name: </strong>{{items.gene_name}}</p>
		<p><strong>Gene Symbol: </strong>{{items.gene_symbol}}</p>
		<p><strong>Protein lmp id: </strong>{{items.lmp_id}}</p>
		<p><strong>Protein mrna id: </strong>{{items.mrna_id}}</p>
		<p><strong>Protein Entry: </strong>{{items.protein_entry}}</p>
		<p><strong>Protein gi: </strong>{{items.protein_gi}}</p>
		<p><strong>Protein Name: </strong>{{items.protein_name}}</p>
		<p><strong>Protein refseq id: </strong>{{items.refseq_id}}</p>
		<p><strong>Protein Sequence Length: </strong>{{items.seqlength}}</p>

		<p class="gfg"><strong>Protein Sequence: </strong>{{items.sequence}}</p>

		<p><strong>Species: </strong>{{items.species}}</p>
		<p><strong>Species Long: </strong>{{items.species_long}}</p>
		<p><strong>Protein tax id: </strong>{{items.taxid}}</p>
	  <p><strong>Protein uniprot id: </strong>{{items.uniprot_id}}</p>
  </div>
</div>







	<!-- <p class='col-md-6'>
			<img style="margin-left:1em;max-height:150px" src="http://opsin.ch.cam.ac.uk/opsin/Formic acid.png" alt="Formic acid" />
	</p> -->
