<div class="row columns" style="width: 1000px">
  <div class="columns small-10 small-centered textrow ">

    <p>Color Pathway is an extension of the Search&Color Pathway tool</p>
  </div>
</div>

<form action="#"  class="col s12">
  <div class="row">
    <input type="textarea" class="browser-default" placeholder="KEGG pathway map" [(ngModel)]="imgID" [ngModelOptions]="{standalone: true}">
    <p>eg. hsa05200</p>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light" (click)="showPathway()">SUBMIT</button>
  </div>
</form>

<div>
  <img [src]="imgUrl" *ngIf="showImg" style="max-width: 1000px">
</div>


