<div class="row columns" style="width: 1000px">
  <div class="columns small-10 small-centered textrow ">
    <h1>Color Pathway</h1>
    <p>Color Pathway is an extension of the Search&Color Pathway tool </p>
  </div>
</div>

<!--<form action="#"  class="col s12">-->
<!--  <div class="row">-->
<!--    <input type="textarea" class="browser-default" placeholder="KEGG pathway map" [(ngModel)]="imgID" [ngModelOptions]="{standalone: true}">-->
<!--    <p>eg. hsa05200</p>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <button class="btn waves-effect waves-light" (click)="showPathway()">SUBMIT</button>-->
<!--  </div>-->
<!--</form>-->

<div>
<!--  <img [src]="imgUrl" *ngIf="showImg" style="max-width: 1000px">-->
</div>

<!--<div>-->

<!--&lt;!&ndash;  这里先预设几个基因&ndash;&gt;-->
<!--    <label>Gene</label>-->
<!--    <select class="browser-default" (change)="GeneListChange($event.target.value)" [(ngModel)]="defaultValue1">-->
<!--    <option *ngFor="let gene of geneList" value="{{gene.key}}">{{gene.value}}</option>-->
<!--    </select>-->
<!--  <div *ngIf="showLinkList">-->
<!--    &lt;!&ndash;  下面这个是动态list&ndash;&gt;-->
<!--    <label>Link pathway</label>-->
<!--    <select class="browser-default" (change)="LinkListChange($event.target.value)" [(ngModel)]="defaultValue2">-->
<!--      <option *ngFor="let path of linkList" value="{{path.key}}">{{path.value}}</option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <div *ngIf="showImg">-->
<!--    <label>Pathway image</label>-->
<!--  </div>-->
<!--  <div *ngIf="showImg">-->
<!--    <img name="showpathway" [src]="imgUrl" style="max-width: 1000px">-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-tab-group>-->
<!--      <mat-tab *ngFor="let path of linkList" label="{{path.value}}"><img name="showpathway" src="http://rest.kegg.jp/get/hsa04520/image"> </mat-tab>-->
<!--    </mat-tab-group>-->
<!--  </div>-->
<!--</div>-->
  <div class="columns small-10 small-centered textrow " style="width: 1000px">
    <div class="row">
      <input type="textarea" class="browser-default" placeholder="Uniprot ID" [(ngModel)]="uniprot">
      <p>eg. P04778</p>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" (click)="OnSubmit()">SUBMIT</button>
    </div>
  </div>
<div *ngIf="debug">
  <br>
  <label>Pathway Figure</label>
  <br>
  <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms">

    <mat-tab *ngFor="let img of imgs" label="{{img[1]}}">
      <ng-template matTabContent>
        <div class="click-zoom">
          <label>
            <input type="checkbox">
            <img [src]="SafeImg(img[0])" style="max-width: 1000px">
          </label>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <h5 *ngIf="noimg">No figure found in KEGG</h5>

</div>
