@import "~src/variables.scss";

div{
  width:100%;
  /* background-color: #FCFF7B; */
}
.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(3);
  cursor: zoom-out
}

button {
  margin-top: 5%;
  margin-bottom: 5%;
}

textarea {
  width: 100%;
  border-radius: 10px;
}

mat-card {
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-image: none !important;
  background-color: white;
  margin: 0;
  margin-top: 6%;
}

mat-select {
  width: 20%;
  border: solid grey 1px;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 15px;
}

.main {
  width: 85%;
  height: 600vh;
}

.sidebar {
  width: 5%;
  height: 25vh;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  transition: all 0.5s cubic-bezier(.35,0,.25,1); // match ink bar
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: rgba($lime-green, 0.4);
  transition: all 0.5s cubic-bezier(.35,0,.25,1);
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #fafafa;
}

a:hover {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
}

#input {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

#input-toggle {
  position: absolute;
  top: 20%;
  left: 5%;
}

.input-option {
  margin: 10px;
  font-family: "PT Sans", sans-serif;
}
