div{
  width:100%;
  /* background-color: #FCFF7B; */
}
.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(3);
  cursor: zoom-out
}

button {
  margin-top: 5%;
  margin-bottom: 5%;
}

textarea {
  width: 100%;
  border-radius: 10px;
}

mat-card {
  font-family: 'Catamaran', sans-serif;
}

mat-select {
  width: 20%;
  border: solid grey 1px;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 15px;
}

.main {
  width: 85%;
  height: 600vh;
}

.sidebar {
  width: 5%;
  height: 25vh;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

a:hover {
  color: blue;
  cursor:pointer;
  text-decoration: underline;
}
