<mat-card>
  <div class="row">
    <h3 id="title">One-Stop Search</h3>
    <p>Here you can submit a protein sequence, a uniprot ID, or the Gene names of fatty acid related proteins and our
      program will automatically
      build the structures, blastp results, and the related pathways.</p>
    <p>e.g. P46086 as UniProt ID.<p>
        <mat-tab-group style="color: #4CAF50" [(selectedIndex)]="tabIndex">
          <mat-tab label="Gene">

          </mat-tab>
          <mat-tab label="Uniprot ID">
            <!--    <input (keyup)="Search($event.target.value)">-->
          </mat-tab>
          <mat-tab label="Sequence">
          </mat-tab>
        </mat-tab-group>
        <div id="input" class="container">
          <div class="row">
            <div class="input-field col s12">
              <textarea style="min-height: 150px" name="Search" class="browser-default" placeholder="Search"
                (keyup)="Search($event.target.value)" [(ngModel)]="query"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <mat-action-list *ngIf="tabIndex==1">
                <button mat-list-item *ngFor="let item of items | async"
                  (click)="ListClick($event.target.innerText)">{{item.uniprot_id}}</button>
              </mat-action-list>

              <mat-action-list *ngIf="tabIndex==0">
                <button mat-list-item *ngFor="let item of items | async"
                  (click)="ListClick($event.target.innerText)">{{item.gene_name}}</button>
              </mat-action-list>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <label>Protein Database</label>
              <select name="ProteinDatabase" class="browser-default" [(ngModel)]="proteindatabase">
                <option value="Arabidopsis" selected>Arabidopsis</option>
                <option value="Soybean">Soybean</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <button mat-raised-button class="btn waves-effect waves-light" (click)="ClickSearch()">Submit</button>
            </div>
          </div>
        </div>
  </div>
  <div class="row">
    <div *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</mat-card>
