<mat-card class="base">
  <div class="row columns" style="min-width: 1000px">
    <div class="col s10 small-centered textrow ">
      <h1>Blast Tools</h1>
      <p>BLAST finds regions of similarity between biological sequences.</p>
      <p>The program compares nucleotide or protein sequences to sequence databases and calculates the statistical significance.</p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <textarea style="height: 100px" name="fasta" class="browser-default input-area" placeholder="Sequence"
        [(ngModel)]="proteinSeq"></textarea>
    </div>

  </div>
  <!-- <div class="row">
    <div class="col s2">
      <input class="with-gap" name="method" type="radio" id="BlastP" value="blastp" (change)="SelectBlastP()" />
      <label for="BlastP">BlastP</label>
    </div>

  </div> -->
  <div class="row selector-wrapper">
    <p class="centered">Database</p>
    <div class="database-selector" (click)="changeDatabase('Arabidopsis')" [class.selected]="this.database == 'Arabidopsis'">Arabidopsis</div>
    <div class="database-selector" (click)="changeDatabase('Soybean')" [class.selected]="this.database == 'Soybean'">Soybean</div>
  </div>

  <div class="row">
    <div class="col s6">
      <p class="centered">E-value threshold</p>
      <mat-radio-group color="primary" [(ngModel)]="evalue">
        <mat-radio-button class="option" value="0.0001">0.0001</mat-radio-button>
        <mat-radio-button class="option" value="0.001">0.001</mat-radio-button>
        <mat-radio-button class="option" value="0.01">0.01</mat-radio-button>
        <mat-radio-button class="option" value="0.1">0.1</mat-radio-button>
        <mat-radio-button class="option" value="1">1</mat-radio-button>
        <mat-radio-button class="option" value="10">10</mat-radio-button>
        <mat-radio-button class="option" value="100">100</mat-radio-button>
        <mat-radio-button class="option" value="1000">10000</mat-radio-button>
      </mat-radio-group>
      
      <!-- <select class="browser-default" [(ngModel)]="evalue">
        <option value="0.0001">0.0001</option>
        <option value="0.001">0.001</option>
        <option value="0.01">0.01</option>
        <option value="1">1</option>
        <option value="10" selected>10</option>
        <option value="100">100</option>
        <option value="1000">1000</option>
      </select> -->
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <p class="centered">Scoring Matrix</p>
      <mat-radio-group color="primary" [(ngModel)]="matrix">
        <mat-radio-button class="option" value="PAM30">PAM30</mat-radio-button>
        <mat-radio-button class="option" value="PAM70">PAM70</mat-radio-button>
        <mat-radio-button class="option" value="PAM250">PAM250</mat-radio-button>
        <mat-radio-button class="option" value="BLOSUM80">BLOSUM80</mat-radio-button>
        <mat-radio-button class="option" value="BLOSUM62">BLOSUM62</mat-radio-button>
        <mat-radio-button class="option" value="BLOSUM45">BLOSUM45</mat-radio-button>
        <mat-radio-button class="option" value="BLOSUM50">BLOSUM50</mat-radio-button>
        <mat-radio-button class="option" value="BLOSUM90">BLOSUM90</mat-radio-button>
      </mat-radio-group>
      <!-- <label>Scoring matrix</label><br />
      <select class="browser-default" [(ngModel)]="matrix">
        <option value="PAM30">PAM30</option>
        <option value="PAM70">PAM70</option>
        <option value="PAM250">PAM250</option>
        <option value="BLOSUM80">BLOSUM80</option>
        <option value="BLOSUM62" selected>BLOSUM62</option>
        <option value="BLOSUM45">BLOSUM45</option>
        <option value="BLOSUM50">BLOSUM50</option>
        <option value="BLOSUM90">BLOSUM90</option>
      </select> -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s3">
      <button mat-raised-button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit()">Run BLAST
      </button>
      <button *ngIf="this.result != undefined" mat-raised-button class="btn clear waves-effect waves-light" type="reset" name="action" (click)="clear()">Clear Results
      </button>
    </div>

  </div>

  <mat-progress-bar id="loading-bar" mode="indeterminate" *ngIf="this.loading"></mat-progress-bar>

  <p *ngIf="blastError" class="centered">No results were found for the previous search.</p>

  <div class="row" *ngFor="let res of blastRes">
    <div class="col s10">
      <div class="card">
        <div class="card-content">
          <!--        <span class="card-title">{{res.title}}</span>-->
          <pre>{{res}}</pre>
        </div>
      </div>
    </div>
  </div>

</mat-card>


