<!--<div class="row columns" style="width: 1000px">-->
<!--  <div class="columns small-10 small-centered textrow ">-->
<!--    <h1>Cytoscape</h1>-->
<!--  </div>-->
<!--</div>-->
<!--<div style="height: 80%; width: 1000px; float: left; overflow: auto; overflow-y: hidden;border:1px solid #000000">-->
<!--    <ng2-cytoscape [elements]="graphData" [layout]="layout" (select)="nodeChange($event)"></ng2-cytoscape>-->
<!--</div>-->

<!--<div style="height: 90%; width: 20%; float: left; overflow: auto; overflow-x: hidden">-->
<!--    <p>Selected Node Name</p>-->
<!--    <p>{{node_name}}</p>-->
<!--</div>-->

<div>
  <iframe src="./proteinNetView.html" frameborder="0" scrolling="0" style="height: 900px; width: 1200px;"></iframe>
</div>
