
<mat-card class="row columns base" style="min-width: 1000px">
  <div class="columns small-10 small-centered textrow ">
    <h1>Pathway Viewer</h1>
    <p>A tool for viewing KEGG pathway figure.</p>

  </div>
    <div class="row">
      <mat-form-field>

        <input type="text" matInput class="browser-default" placeholder="Search" [(ngModel)]="query">
        <span id="help-icon-div">
        <mat-icon id="help-icon" class="pointer" [matTooltip]="'Enter uniprot id to search. Click this icon for an example.'" (click)="setDefaultSearch()">help</mat-icon>
        </span>

      </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Species</mat-label>
        <mat-select [value]="selectedSpecies" (selectionChange)="changeSpecies($event)">
          <mat-option *ngFor="let s of species" [value]="s.value">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button class="btn waves-effect waves-light" (click)="OnSubmit()">Search</button>
    </div>
    <div class="row table-container" *ngIf="relatedGeneNames.length > 1">
      <h2>Possible Matches:</h2>
      <table id="genetable" mat-table [dataSource]="relatedGeneNames">
        <ng-container matColumnDef="uniprot_id">
          <th mat-header-cell *matHeaderCellDef> UniProt ID </th>
          <td mat-cell *matCellDef="let element"> {{element.uniprot_id}} </td>
        </ng-container>
        <ng-container matColumnDef="geneName" *ngIf="selectedSpecies != 'camelina'">
          <th mat-header-cell *matHeaderCellDef> Gene Name </th>
          <td mat-cell *matCellDef="let element"> {{element.geneName || element.gene_names}} </td>
        </ng-container>
        <ng-container matColumnDef="geneName" *ngIf="selectedSpecies == 'camelina'">
          <th mat-header-cell *matHeaderCellDef> Tair ID </th>
          <td mat-cell *matCellDef="let element"> {{element.tair_id }} </td>
        </ng-container>
        <ng-container matColumnDef="proteinNames">
          <th mat-header-cell *matHeaderCellDef > Protein Names </th>
          <td mat-cell *matCellDef="let element" style="text-overflow: ellipsis;"> {{element.proteinNames || element.protein_name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedGeneColumns"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedGeneColumns; let entry" [ngClass]="{'generow': true, 'selected': entry.fp_id == selectedFPID}" (click)="selectColumn(entry.uniprot_id, entry.fp_id)"></tr>
      </table>
    </div>
    <div class="row" *ngIf="loading">
      <mat-progress-bar id="loading-bar" mode="indeterminate"></mat-progress-bar>
    </div>
  <br>
  <mat-radio-group
    aria-labelledby="pathway-radio-group-label"
    class="pathway-radio-group"
    [(ngModel)]="currPath">
    <mat-radio-button class="pathway-radio-button" *ngFor="let pathway of pathwayList" [value]="pathway" (change)="loadImage(pathway)">
      {{pathway}}
    </mat-radio-button>
  </mat-radio-group>

<div *ngIf="!loading && hasSearched">
  <br>
  <label *ngIf="noimg">No pathway figure found in database.</label>
  <label *ngIf="noRes">No results for that search.</label>
  <label *ngIf="!noimg && !noRes">Pathway Figures for Uniprot ID: "{{this.uniprot}}"</label>
  <mat-progress-bar id="loading-bar" mode="indeterminate" *ngIf="this.isLoadingImage"></mat-progress-bar>

  <br>
  <div id="pathway-viewer">
<!--  <mat-tab-group style="color: #4CAF50" id="pathway-tabs" animationDuration="0ms">-->

<!--    <mat-tab *ngFor="let pathway of pathwayList" [label]="pathway.name">-->
<!--      <ng-template matTabContent>-->
<!--        <iframe class="pathway-view" [src]="pathway.url" style="width: 100%" height="768" frameborder="0" scrolling="0"></iframe>-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
  </div>

</div>

  <div >
    <br>
    <br>
    <div [hidden]="!(!noimg && !noRes && !loading && selectedImage)" id='canvas-container'>
      <!-- <img [src]="selectedImage" (load)="onImageLoad()" alt="" /> -->
      <canvas #canvasEl id='canvas'></canvas>
      <!--
        If you wanted to scale the image down and use a maximum defined height and width use this (replace the numbers with whatever you want)
        <canvas #canvasEl id='calvas'></canvas>
      -->
    </div>
  </div>

</mat-card>
