<mat-card id="protein-page">
    <button mat-button routerLink='/datasets/arabidopsis'>
        <mat-icon>keyboard_arrow_left</mat-icon><span class='back-text'>Back</span>
    </button>
    <div *ngIf='this.proteinData !== undefined && !this.isLoadingProtein'>
        <p *ngIf='proteinData.status === "reviewed"' class='status reviewed'>
            <mat-icon class='info-icon' [matTooltip]='"This entry has been reviewed by the UniProtKB curators."'>info</mat-icon>
            Reviewed
        </p>
        <p *ngIf='proteinData.status === "unreviewed"' class='status unreviewed'>
            <mat-icon class='info-icon' [matTooltip]='"This entry has not been reviewed by the UniProtKB curators, and may not have complete data."'>info</mat-icon>
            Unreviewed
        </p>
        <h2 class='title'>{{ proteinData.protein_names }}</h2>
        <p class='status'> Created {{arapidopsisData.created}} | Modified {{arapidopsisData.modified}}</p>
        <p class='status'>Version {{arapidopsisData.version}}</p>
        <div class='card-wrapper'>
        <mat-card class='protein-info-card'>
            <div class='protein-info-wrapper'>
                <p class='protein-info'>Gene: {{ arapidopsisData.gene_name }}</p>
                <p class='protein-info protein-subtitle'>Lmp ID: {{ arapidopsisData.lmp_id }} </p>
                <p class='protein-info'>Mrna ID: {{ arapidopsisData.mrna_id }}</p>
                <p class='protein-info protein-subtitle'>Refseq ID: {{ arapidopsisData.refseq_id }}</p>
                <p class='protein-info'>Tax ID: {{ arapidopsisData.taxid }}</p>
                <p class='protein-info protein-subtitle'>Uniprot ID: {{ arapidopsisData.uniprot_id }}</p>
                <p class='protein-info'>Protein Entry: {{ arapidopsisData.protein_entry }}</p>
            </div>
        </mat-card>
        <mat-card class='protein-function-card'>
            <p class='protein-subtitle'>Protein Function</p>
            <p class='protein-function' *ngIf='proteinData.function.length > 0'>{{ proteinData.function }}</p>
            <p class='protein-function' *ngIf='proteinData.function.length === 0'>No function specified for this entry.</p>
            <p class='protein-subtitle'>Keywords</p>
            <p>
                {{parseKeywords(proteinData.keywords)}}
            </p>
        </mat-card>
        </div>
        <mat-card class='domain-function-card'>
            <p class='protein-subtitle'>Domain Function</p>
            <mat-table [dataSource]='proteinDataSource' id='table' *ngIf='arapidopsisData.features.length !== 0'>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Feature Type </mat-header-cell>
                  <mat-cell *matCellDef="let elem">{{elem.type}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="start">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
                  <mat-cell *matCellDef="let elem">
                      <span *ngIf='elem.location.begin !== undefined'>{{ elem.location.begin.position }} </span>
                      <span *ngIf='elem.location.begin === undefined'>{{ elem.location.position.position }} </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="end">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> End </mat-header-cell>
                    <mat-cell *matCellDef="let elem">
                        <span *ngIf='elem.location.end !== undefined'>{{ elem.location.end.position }} </span>
                        <span *ngIf='elem.location.end === undefined'>{{ elem.location.position.position }} </span>
                      </mat-cell>
                  </ng-container>
                <ng-container matColumnDef='length'>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Length </mat-header-cell>
                    <mat-cell *matCellDef="let elem">
                        <span *ngIf='elem.location.end !== undefined && elem.location.begin !== undefined'>
                            {{ elem.location.end.position - elem.location.begin.position }}
                        </span>
                        <span *ngIf='elem.location.end === undefined && elem.location.begin === undefined'>
                            0
                        </span>
                    </mat-cell>
                </ng-container>  
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell *matCellDef="let elem">{{elem.description}}</mat-cell>
                  </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <p class='protein-function' *ngIf='arapidopsisData.features.length === 0'>No features found for this arapidopsis entry.</p>
        </mat-card>
        <mat-card class='sequence-card'>
            <h2>Sequence <button mat-raised-button ngxClipboard id="sequence-button" color="primary" [cbContent]="this.arapidopsisData.sequence"
                (click)="this.notificationService.popup('Copied to Clipboard!')">Copy Sequence</button></h2>
            <div id="sequence-display">{{this.arapidopsisData.sequence}}</div>
        </mat-card>
    </div>
    <mat-progress-bar id="loading-bar" mode="indeterminate" *ngIf="this.isLoadingProtein"></mat-progress-bar>
    <div class='no-data-message' *ngIf='this.arapidopsisData === undefined && !this.isLoadingArapidopsis'>
        <h3 class='error-message'>No uniprot entry found matching '{{this.uniprotId}}'</h3>
    </div>
    <div class='no-data-message' *ngIf='this.arapidopsisData !== undefined && this.proteinData === undefined && !this.isLoadingProtein'>
        <h3 class='error-message'>No protein details found matching '{{this.proteinEntry}}'</h3>
    </div>
</mat-card>