<mat-card class="base">
  <div class="row columns ">
    <div class="columns small-10 small-centered textrow ">
      <h1>GLmol Tools</h1>
      <p>GLmol is a 3D molecular viewer based on WebGL and Javascript.</p>
    </div>
  </div>

  <div class="columns small-10 small-centered textrow ">
    <div class="row">
      <mat-form-field>
        <input matInput type="text" class="browser-default" placeholder="Uniprot ID" [matAutocomplete]="uniprot" [(ngModel)]="glmolID" (keyup)="Search()">
        <mat-autocomplete #uniprot="matAutocomplete" position="below">
          <mat-option *ngFor="let item of items | async" [value]="item.uniprot_id">{{item.uniprot_id}}</mat-option>
        </mat-autocomplete>
        <span id="help-icon-div">
        <mat-icon id="help-icon" class="pointer" [matTooltip]="'Enter uniprot id to search. Click this icon for an example.'" (click)="setDefaultSearch()">help</mat-icon>
        </span>
      </mat-form-field>
    </div>
      <button mat-raised-button class="btn waves-effect waves-light" (click)="Glmol()">Search</button>
  </div>
  <!--<div >-->
  <!--  <iframe src="http://soykb.org/search/glmol/viewer.html?Glyma14g08610_1.pdb" style="width: 100%" height="768"></iframe>-->
  <!--</div>-->
  <!--<div>-->
  <!--  <iframe [src]="glmolUrl" *ngIf="isGlmol" style="width: 100%" height="768"></iframe>-->
  <!--</div>-->
  <br>
  <br>
  <div *ngIf="isGlmol" id="glmol-display">
  <label *ngIf="nopdb">No PDB file found for Uniprot ID "{{this.searchQuery}}".</label>
  <label *ngIf="!nopdb">Results for Uniprot ID {{this.searchQuery}}</label>
  <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms">
    <!--    <mat-tab label="Q9ZU49_5jwy.1.A_121_269_default">-->
    <!--      <iframe src="/viewer.html?5jwy" style="width: 100%" height="768"></iframe>-->
    <!--    </mat-tab>-->
    <!--    <mat-tab label="Q9ZU49_5jwy.1.A_97_244">-->
    <!--      <iframe src="/viewer.html?6jwy" style="width: 100%" height="768"></iframe>-->
    <!--    </mat-tab>-->
    <mat-tab *ngFor="let pdb of pdbs" label="{{pdb.name}}">
      <ng-template matTabContent>
        <iframe [src]="pdb.url" style="width: 100%" height="768"></iframe>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  </div>
</mat-card>
