@import "~src/variables.scss";

.header {
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  height: 94%;
  width: 100%;
  box-sizing: border-box;
}

.banner {
  min-height: 480px;
  max-height: 480px;
  width: 100%;
  font-size: 3em;
}

.banner1 {
  width: 100%;
  padding: 10% 10% 10% 10%;
  box-sizing: border-box;
  background: url("../assets/homepageAssets/plantBanner.JPG") no-repeat center center;
  background-size: cover;
}

.banner2 {
  width: 100%;
  padding: 5% 10% 10% 10%;
  box-sizing: border-box;
  background: url("../assets/homepageAssets/plantBanner2.JPG") no-repeat center center;
  background-size: cover;
}

.banner3 {
  width: 100%;
  padding: 5% 10% 10% 10%;
  box-sizing: border-box;
  background: url("../assets/homepageAssets/plantBanner3.JPG") no-repeat center center;
  background-size: cover;
}

.banner4 {
  width: 100%;
  padding: 5% 10% 10% 10%;
  box-sizing: border-box;
  background: url("../assets/homepageAssets/plantBanner4.JPG") no-repeat center center;
  background-size: cover;
}

.pageButton {
  width: 10%;
  border: solid $light 2px;
  background-color: rgba(255, 255, 255, .6);
  font-family: "PT Serif", sans-serif !important;
  color: $dark;
  box-shadow: 2px 2px $dark;
}

.buttonDiv {
  width: 100%;
  text-align: center;
}

.bannerText {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bannerText2 {
  border-radius: 2px;
  padding: 10px 0 40px 0;
  font-family: "PT Serif", sans-serif !important;
  text-shadow: 1px 1px $dark;
  color: $light;
}

.pageDisplay {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  position: absolute;
  width: 100%;
  top: 550px;
}

.pages {
  border-radius: 200px;
  min-width: 10px;
  max-height: 10px;
  max-width: 10px;
  cursor: pointer;
  margin-left: 1%;
}

.active {
  opacity: 1;
  background-color: white;
}

.inactive {
  opacity: .5;
  background-color: whitesmoke;
}

.links {
  min-height: 500px;
  background-image: linear-gradient(to left, $cream, $white-yellow);
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-align: center;
  width: 20%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark;
  margin-top: 5%;
  font-size: 1.5em;
  text-shadow: 1px 1px grey;
  cursor: pointer;
}

.linkIcon {
  font-size: 4em;
  width: 40%;
}

.quote {
  min-height: 500px;
  text-align: center;
}

.quoteText {
  margin-top: 10%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $cream;
  font-size: 3em;
  display: inline-block;
  text-align: left;
  text-shadow: 2px 2px black;
}

.splitInfo {
  display: flex;
  justify-content: flex-start;
  min-height: 500px;
  font-family: "PT Serif", sans-serif;
}

.oilContent {
  width: 50%;
  background-color: rgb(254,254,239, .9);
  color: $dark;
  padding: 1% 2% 1% 2%;
  font-size: 1.5vw;
}

.oilHeader {
  font-size: 2vw;
}

.aims {
  width: 50%;
  background-color: rgb(204,170,124, .9);
  color: $light;
  padding: 1% 2% 1% 2%;
  font-size: 1.5vw;
}

.aimsHeader {
  font-size: 2vw;
}

.staff {
  min-height: 500px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.staffPP {
  border-radius: 200px;
  width: 10em;
  height: 10em;
  box-shadow: 2px 2px 2px 2px $dark;
}

.staffText {
  font-size: 1vw;
}

.staffContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  width: 18%;
}

.news {
  min-height: 500px;
  background-image: linear-gradient(to right, lightgrey, whitesmoke);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: grey;
  text-shadow: 2px 2px lightgrey;
  font-size: 2em;
}

.newsInfo {
  display: flex;
  justify-content: space-evenly;
  text-shadow: 1px 1px grey;
  color: black;
}

.newsPics {
  width: 6em;
  height: 4em;
  box-shadow: 2px 2px 2px 2px $dark;
}

.fb {
  width: 7em;
}

.information {
  min-height: 150px;
  background-image: linear-gradient($cream, $light-green);
}

.sponsors {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px $dark;
}

.sponsorImg {
  height: 7vw;
  width: 10vw;
  border-radius: 5px 5px 0 0;
  margin-top: 10%;
  padding-bottom: 20%;
}

.sponsorImgWSU {
  height: 3vw;
  width: 10vw;
  border-radius: 5px 5px 0 0;
  margin-top: 30%;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px $dark;
}

.newsLink {
  color: grey;
}

.external {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

