<div class="header">

</div>
<div class="container">

  <div class="banner">
    <div class="banner1" *ngIf="pageDisplay === 'page1'">
      <div class="bannerText">
        <span>We keep things</span>
        <strong>clean and simple</strong>
        <span>___</span>
      </div>
      <br /><br />
    </div>

    <div class="banner2" *ngIf="pageDisplay === 'page2'">
      <div class="bannerText bannerText2">
        <span>The one-stop tool for</span>
        <span>biological data procedures</span>
        <div class="buttonDiv"><button mat-button class="pageButton" routerLink="/one_click">One Stop <mat-icon>search</mat-icon></button></div>
      </div>
      <br /><br />
    </div>

    <div class="banner3" *ngIf="pageDisplay === 'page3'">
      <div class="bannerText bannerText2">
        <span>Fatty related protein data</span>
        <span>for typical plants</span>
        <div class="buttonDiv"><button mat-button class="pageButton" routerLink="/datasets">Our Data</button></div>
      </div>
      <br /><br />
    </div>

    <div class="banner4" *ngIf="pageDisplay === 'page4'">
      <div class="bannerText bannerText2">
        <span>Protein to protein networks</span>
        <span>and GO enrichment networks</span>
        <div class="buttonDiv"><button mat-button class="pageButton" routerLink="/go-network">Networks</button></div>
      </div>
      <br /><br />
    </div>

    <div class="pageDisplay">
      <div [class]="page2"  (click)="page(2)"></div>&nbsp;
      <div [class]="page3"  (click)="page(3)"></div>&nbsp;
      <div [class]="page4"  (click)="page(4)"></div>&nbsp;
    </div>

  </div>

  <div class="links">
    <!-- <div class="linksTitle" routerLink='/one_click'>
      <mat-icon>search</mat-icon> One Stop Search
    </div> -->
    <div class="linksContainer">
      <div class="link" routerLink="/blast">
        <div>
          _________________<br /><br />BLASTp
        </div><br />
        <mat-icon class="linkIcon">
          eco
        </mat-icon>
      </div>

      <div class="link" routerLink="/glmol">
        <div>
          _________________<br /><br />3D Structure
        </div><br />
        <mat-icon class="linkIcon">
          select_all
        </mat-icon>
      </div>

      <div class="link" routerLink="/color-pathway">
        <div>
          _________________<br /><br />Color Pathway
        </div><br />
        <mat-icon class="linkIcon">
          timeline
        </mat-icon>
      </div>
    </div>
  </div>

  <div class="quote">
    <div class="quoteText">
      The comprehensive platform for plant fat related<br />
      genes, proteins, and metabolism
    </div>
  </div>

  <div class="splitInfo">
    <div class="oilContent">
      <p>
        <strong class="oilHeader">Introduction</strong><br /><br />

        Fatplants is a web portal with analysis and visualization tools for plant fat-related genes, proteins and metabolism.
        It empowers researchers to develop and test hypotheses, and design crops with value-added compositions.
        In particular, collating data in Fatplants on oilseed engineering can accelerate the process of knowledge discovery and crop design for biology researchers with little computer skills.
        For example, increasing seed oil content by plant breeding has resulted in trade-offs or penalties with respect to protein content, seed size, or seed set, and FatPlants provides useful information to address this issue. <br /><br />

        We have developed this “one-stop-shop” community web resource using various data of Glycine max, Arabidopsis thaliana, and Camelina sativa generated from our studies, curated from the public sources, and collected from the literature to help understand metabolism synthesis pathways and related protein interactions.
        Some data and annotations come from Uniprot, TAIR, LIPIDMAPS, OPSIN, LMPD, PlantFAdb and ARALIPS. FatPlants also includes gene and protein information cards, BLAST search functions, and other similar structure search functions.

      </p>
    </div>
    <div class="aims">
      <p>
        <strong class="aimsHeader">Site Features</strong><br /><br />
        <strong>Data</strong><br/>
        <li>Integrated data of fatty acid-related proteins, genes for Arabidopsis, Soybean and Camellia<br/></li>
        <li>Functional information for each protein, including the modification region, post-translation modification or functional structure region<br/></li>
        <li>Physicochemical information of fatty acids<br/><br/></li>
        <strong>Analysis</strong><br/>
        <li>Sequence similarity search based on BlastP against the fatty-acid related proteins.<br/></li>
        <li>3D-structure similarity search and visualization using in-house G2S against the fatty-acid related proteins. <br/></li>
        <li>Pathway mapping to KEGG and Reactome<li>
        <li>Collection of fatty-acid related pathway pictures from the literature and interactive visualization using our in-house machine learning image understanding tool<br/><br/></li>
        <strong>Visualization</strong><br/>
        <li>Visualization of protein-protein interaction for fatty-related proteins<br/></li>
        <li>Visualization of GO Enrichment network for fatty acid related proteins<br/></li>


      </p>
    </div>
  </div>

  <div class="newspapers">
    <div class="news">
      <br />
      <div class="latest">
        Latest News<br />
        ____
      </div>
      <p style="font-size:20px;color:black" align="center">
        <li>Fatplants of Angular version is deployed.<br/><br/></li>
        <li>Fatplants is presented in PAG 2019.<br/><br/></li>
        <li>Pathway picture from Literature could be browsed now.<br/><br/></li>
      <a style="font-size:20px;color:black;" href="https://yield10bioscienceinc.gcs-web.com/news-releases/news-release-details/yield10-bioscience-obtains-positive-response-usda-aphis"><li>Commercialization of C3007 Trait in Camelina.</li></a>
      </p>
      <div class="more-container">
        <div class="less-news" *ngIf="more" (click)="previousNews()">

        </div>
      </div>

      <!--<div class="news-item__container">-->
        <!--<div class="news-item" *ngFor="let item of displayedItems" [@enterAnimation]>-->
          <!--<a class="newsLink" [href]="item.link">-->
            <!--<img class="newsPics" [src]="item.img" alt="news-thumbnail"/><br />-->
            <!--<span>{{ item.title }}</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="more-container">-->
        <!--<div class="more-news" (click)="moreNews()">-->

        <!--</div>-->
      <!--</div>-->

      <div *ngIf="user.admin <= 1" class="add-news" routerLink="/add-news"><span class="material-icons add-news-icon">add_circle_outline</span></div>
    </div>

    <div class="papers">
      <br />
      <div class="latest">
        Research Papers<br />
        ____
      </div>
      <p class="paper-items" style="font-size:20px; color:black; text-align:center; margin-left: 2%; margin-right: 2%;">
        <li><a id="1" target="_blank" href="https://link.springer.com/protocol/10.1007/978-1-0716-1362-7_13">Jenkins L M, Nam J W, Evans B S, et al. Quantification of Acyl-Acyl Carrier Proteins for Fatty Acid Synthesis Using LC-MS/MS[M]//Plant Lipids. Humana, New York, NY, 2021: 219-247.</a><br/><br/></li>
        <li><a id="2" target="_blank" href="https://www.sciencedirect.com/science/article/pii/S1570023220300246?casa_token=85SEr3IoLPoAAAAA:ZT56FKuvVW-lAUUZ0fUS4K_XPFQebdNSAWytmhKd0JnRRfAxxcnW1i1WSC60WSldaqDgiBcBZIV_">Kotapati H K, Bates P D. Normal phase HPLC method for combined separation of both polar and neutral lipid classes with application to lipid metabolic flux[J]. Journal of Chromatography B, 2020, 1145: 122099.</a><br/><br/></li>
        <li><a id="3" target="_blank" href="https://academic.oup.com/plcell/article/32/4/820/6115733?login=true">Nam JW, Jenkins LM, Li J, Evans BS, Jaworski JG, Allen DK (2020) A General Method for Quantification and Discovery of Acyl Groups Attached to Acyl Carrier Proteins in Fatty Acid Metabolism using LC-MS/MS. Plant Cell: 32(4):820-832</a><br></li>
      </p>
    </div>
  </div>
  <div class="information">
    <div class="sponsors">
      <div class="external">
        <a href="http://www.muscifest.com/">Sci-FEST</a>
        <a href="http://soykb.org/">Soybean Knowledge Base</a>
        <a href="https://www.lipidmaps.org/">Lipid Maps</a>
        <a href="https://www.lipidmaps.org/resources/lipidweb/index.php?page=info/cv-bchristie.htm">WW Christie</a>
      </div>
      <div class="contact">
        <span style="font-size: 25px;">Contact Us</span>
        <span>
          Bond Life Sciences Center:<br />
          <a href="tel:(573) 882-0093">(573) 882-0093</a>
        </span>

      </div>
      <div class="mizzou-container"><img class="sponsorImg" [src]="MU" alt="MU"/></div>
      <div><img class="sponsorImg" [src]="PSC" alt="PSC"/></div>
      <div><img class="sponsorUSDA" [src]="USDA" alt="PSC"/></div>
      <div><img class="sponsorImgWSU" [src]="WSU" alt="WSU"/></div>
      <div><img class="sponsorImgNSF" [src]="NSF" alt="NSF"/></div>
    </div>
  </div>

</div>
