@import "~src/variables.scss";
.header {
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    height: 94%;
    width: 100%;
    box-sizing: border-box;
}

.banner {
    min-height: 480px;
    max-height: 480px;
    width: 100%;
    font-size: 3em;
}

.banner1 {
    width: 100%;
    padding: 10% 10% 10% 10%;
    box-sizing: border-box;
    background: url("../assets/homepageAssets/plantBanner.JPG") no-repeat center center;
    background-size: cover;
}

.banner2 {
    width: 100%;
    padding: 5% 10% 10% 10%;
    box-sizing: border-box;
    background: url("../assets/homepageAssets/plantBanner2.JPG") no-repeat center center;
    background-size: cover;
}

.banner3 {
    width: 100%;
    padding: 5% 10% 10% 10%;
    box-sizing: border-box;
    background: url("../assets/homepageAssets/plantBanner3.JPG") no-repeat center center;
    background-size: cover;
}

.banner4 {
    width: 100%;
    padding: 5% 10% 10% 10%;
    box-sizing: border-box;
    background: url("../assets/homepageAssets/plantBanner4.JPG") no-repeat center center;
    background-size: cover;
}

.pageButton {
    width: 8rem;
    min-height: 3rem;
    border: solid $light 2px;
    background-color: rgba(255, 255, 255, .6);
    font-family: "PT Serif", sans-serif !important;
    color: $dark;
    box-shadow: 2px 2px $dark;
}

.buttonDiv {
    width: 100%;
    text-align: center;
}

.bannerText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bannerText2 {
    border-radius: 2px;
    padding: 10px 0 40px 0;
    font-family: "PT Serif", sans-serif !important;
    text-shadow: 1px 1px $dark;
    color: $light;
}

.pageDisplay {
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
    position: absolute;
    width: 100%;
    top: 550px;
}

.pages {
    border-radius: 200px;
    min-width: 10px;
    max-height: 10px;
    max-width: 10px;
    cursor: pointer;
    margin-left: 1%;
}

.active {
    opacity: 1;
    background-color: white;
}

.inactive {
    opacity: .5;
    background-color: whitesmoke;
}

.links {
    min-height: 400px;
    background-image: linear-gradient(to left, $cream, $white-yellow);
    //display: flex;
    justify-content: center;
    flex-direction: column;
}

.linksTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    color: $dark;
    transition: color 0.3s;
    text-align: center;
    text-shadow: 1px 1px grey;
    width: 100%;
    cursor: pointer;
}

.linksTitle:hover {
    color: $light;
    transition: color 0.3s;
}

.linksContainer {
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-align: center;
    width: 20%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $dark;
    transition: color 0.3s;
    margin-top: 5%;
    font-size: 1.5em;
    text-shadow: 1px 1px grey;
    cursor: pointer;
}

.link:hover {
    color: $light;
    transition: color 0.3s;
}

.linkIcon {
    font-size: 4em;
    width: 40%;
}

.quote {
    min-height: 20rem;
    text-align: center;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $cream;
    font-size: 3em;
    display: inline-block;
    text-align: left;
    text-shadow: 2px 2px black;
}

.splitInfo {
    display: flex;
    justify-content: flex-start;
    min-height: 500px;
    font-family: "PT Serif", sans-serif;
}

.oilContent {
    width: 50%;
    background-color: rgb(255, 255, 255, .9);
    //background-color: rgb(254,254,239, .9);
    color: $dark;
    padding: 1% 2% 1% 2%;
    font-size: 1.5vw;
}

.oilHeader {
    font-size: 2vw;
}

.aims {
    width: 50%;
    background-color: rgb(204, 170, 124, .9);
    color: $light;
    padding: 1% 2% 1% 2%;
    font-size: 1.5vw;
}

.aimsHeader {
    font-size: 2vw;
}

.staff {
    min-height: 500px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.staffPP {
    border-radius: 200px;
    width: 10em;
    height: 10em;
    box-shadow: 2px 2px 2px 2px $dark;
}

.staffText {
    font-size: 1vw;
}

.staffContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
    width: 18%;
}

.newspapers {
    width: 100%;
    min-height: 50rem;
    display: flex;
    justify-content: space-evenly;
}

.papers {
    min-height: 50rem;
    width: 50%;
    background-image: linear-gradient(to right, rgb(204, 170, 124, .9), whitesmoke);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: grey;
    text-shadow: 2px 2px lightgrey;
    font-size: 2em;
}

.paper-items {
    //margin-top: 8rem;
    cursor: pointer;
    color: black;
}

.paper-items a {
    //margin-top: 8rem;
    cursor: pointer;
    color: black;
}

.paper-items a:hover {
    text-decoration: #1C6EA4 underline;
    color: #1C6EA4;
}

.news {
    min-height: 50rem;
    width: 50%;
    background-image: linear-gradient(to right, rgb(245, 245, 245, .9), rgb(211, 211, 211, .9));
    display: flex;
    flex-direction: column;
    //justify-content: space-evenly;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: grey;
    text-shadow: 2px 2px lightgrey;
    font-size: 2em;
}

.add-news {
    width: 5em;
    height: 4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-news-icon {
    font-size: 5rem;
}

.news-item {
    margin-bottom: 1rem;
}

.news-item__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 45rem;
}

.more-news {
    width: 5rem;
    height: 5rem;
    border-right: solid silver 1rem;
    border-bottom: solid silver 1rem;
    transform: rotate(45deg) skew(-15deg, -15deg);
    ;
    cursor: pointer;
}

.more-news:hover {
    border-right: solid #B5B5B5 1.1rem;
    border-bottom: solid #B5B5B5 1.1rem;
}

.less-news {
    width: 5rem;
    height: 5rem;
    border-left: solid silver 1rem;
    border-top: solid silver 1rem;
    transform: rotate(45deg) skew(-15deg, -15deg);
    ;
    cursor: pointer;
}

.less-news:hover {
    border-left: solid #B5B5B5 1.1rem;
    border-top: solid #B5B5B5 1.1rem;
}

.more-container {
    display: flex;
    justify-content: center;
    min-height: 7rem;
}

.newsPics {
    width: 5em;
    height: 4em;
    box-shadow: 2px 2px 2px 2px $dark;
}

.fb {
    width: 7em;
}

.information {
    padding-top: 3rem;
    min-height: 9rem;
    background-color: rgb(0, 0, 0, .9);
    border-top: .5rem solid $cream;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sponsorImg {
    width: 10vw;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
}

.sponsorImgMU {
    width: 9vw;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
}

.sponsorImgPSC {
    width: 10vw;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
}

.sponsorUSDA {
    width: 10vw;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
}

.sponsorImgWSU {
    width: 10vw;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
}

.sponsorImgNSF {
    width: 8.5vw;
    border-radius: 5px 5px 0 0;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newsLink {
    color: grey;
}

.latest {
    font-size: 2.5vw;
}

.external {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-link {
    font-family: "PT Serif", sans-serif;
}

.footer-link:hover {
    color: lightblue;
}

.contact-us {
    font-size: 25px;
    font-family: "PT Serif", sans-serif
}

.telephone {
    font-family: "PT Serif", sans-serif
}

.logo,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
    font-size: 1.1em;
    margin-right: 8%;
}

.logo li,
.menu li {
    list-style: none;
}

.logo li a {
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.logo li a:hover {
    transform: translateY(-10px);
}