
<div class="body_wrap">
  <div class="card-panel">
      <div class="card-panel green lighten-2">
          <h1><span class = "white-text">FatPlant</span></h1>
          </div>
      <!--subheader -->
      <p class="green-text text-darken-2"> The comprehensive platform of plant fat related genes,
              proteins and metabolism.</p>
      <a href="/table" class="button">Learn Data</a>
      <a href="/cy"  class="button">Learn Graph</a>
  </div>
  <div class="left_column_wrap">
    <span class="title1">FatPlant Home</span>
    <div class="small_graphic"></div>
    <div class="story">

    <p class="green-text">Increasing seed oil content by plant breeding has resulted in trade-offs or penalties with
        respect to protein content, seed size, or seed set. The molecular basis for this impasse is
        mostly speculative. Use of current global profiling approaches to better understand both the
        metabolic consequences of higher oil and the basis for reduced yield must also deal with off-target
        genetic mutations (even in near-isogenic lines), ultimately confounding cause-effect interpretations.
        We propose a diverse, integrated strategy to study the consequences of higher lipid production by studying
        transgenic plants specifically engineered to produce higher seed oil.<br /><br />
        Breakthroughs on the regulation of the committed step of de novo fatty acid synthesis (FAS) have been leveraged to produce oilseeds with
        substantially higher oil content. Prior to this time, changes in oil content have been minor which
        has made identification of small differences in metabolism difficult to study. We are now in a
        position to address recalcitrant questions about the metabolic consequences for enhancing seed oil.
  </p>
    </div>

  </div>

  <div class="right_column_wrap">
    <span class="title2">Latest News</span>
	<div class="story">
    <a><img [src]="image1" align="left" width="108px" height="95px"/></a>
		<a style="display:inline;" href="https://www.xsede.org/soybean-science-blooms-with-supercomputers" target="_blank">Soybean science blooms with supercomputers [XSEDE]</a>
		<br>
		</div>
<br>
<br>
<br>
	<div class="story">
		<a><img [src]="image2" align="left" width="108px" height="95px"/></a>
		<a style="display:inline;" href="http://dev.soykb.org/images/MizzouEngineerSpringSum2015_SoyKB.pdf" target="_blank">SoyKB: a powerful tool at the junction of plant biology and computer science</a>
  </div>
  <br>
  <br>
	<div class="story">
		<a><img [src]="image3" align="left" width="108px" height="95px"/></a>
		<a style="display:inline;" href="http://decodingscience.missouri.edu/2014/06/soykb-leading-the-convergence-of-wet-and-dry-science-in-the-era-of-big-data" target="_blank">SoyKB: Leading the convergence of wet and dry science in the era of Big Data</a>
	</div>
  <br clear="all">
  <span class="title2">Sponsors</span>
<div class="partners">

	<a href="http://www.energy.gov/" target="_blank"><img [src]="partner1" /></a>
	<a href="http://www.nsf.gov/" target="_blank"><img [src]="partner2" /></a>
	<a><img [src]="partner3" /></a>
	<a href="http://www.soybiotechcenter.org/" target="_blank"><img [src]="partner4" /></a>
	<a href="http://unitedsoybean.org/" target="_blank"><img [src]="partner5" /></a>
	<a href="http://www.missouri.edu/" target="_blank"><img [src]="partner6" /></a>
</div>
</div>
<div class="left_column_sub_wrap">
			<div class="left">
				<span class="title2">Latest Developments</span>
				<div class="content" >

				<h3>August 2015</h3>
				<ul>
				<li>New upgraded combined gene and metabolite pathway viewer available.</li>
				</ul>

				<h3>January 2015</h3>
					<ul>
					<li>RNA-seq data added for seed germination stages for private access.</li>
					</ul>

				<h3>July 2014</h3>
					<ul>
					<li>New Gene Model Glycine Max Wm82.a2.v1 along with mapping to the old gene models added into gene card page.</li>
					</ul>

					<h3>June 2014</h3>

						<ul>

							<li>Iplant username update/signup for SoyKB users implemented. Users with current Iplant accounts can add/verify their usernames and new users can sign-up for Iplant username and add information in SoyKB. Iplant username will be used for data access control for tools such as Jbrowse using Coge and future analysis pipelines access.</li>
							<li>User analysis jobs section added under the user profile page for easy access to results for jobs submitted for certain SoyKB tools.</li>
							<li>Function enrichment analysis capacity added under Tools and also in Differential Expression Suite of Tools.</li>
							<li>Soybean SNP50K array data added to SoyKB. Users can browse this data for multiple PI lines under SNP search.</li>
						</ul>



				</div>
			</div>
      <div class="right">
				<span class="title3">Featured Tools</span>
				<div class="content">
					<div class="story">
						<a href="search/affy_probe.php">Affymetrix Probe ID Mapper
						<img [src]="image1" /></a>
						Search our database by Affymetrix Probe ID.
					</div>
					<div class="story">
						<br>
						<a href="search/gene_pathway.php">Gene PathwayViewer
						<img [src]="image2" /></a>
						View the Gene PathwayViewer.
					</div>
					<div class="story">
						<br>
						<a href="http://genomebrowser.missouri.edu/cgi-bin/hgTracks?hgsid=4287&clade=plant&org=soybean&db=gm101&position=Gm01&pix=620&Submit=submit&hgsid=4287" target="_blank">Genome Browser
                                                <img [src]="image3" /></a>
                                                Explore the Genome Browser.
					</div>

				</div>
			</div>
		</div>


</div>
