<mat-sidenav-container autosize #mobileMenu id="sideNavContainer" class="absolute background">
    <mat-sidenav mode="over" position="end" disableClose="false" #sideNav id="sideNav">
    <a mat-menu-item routerLink="/homepage" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">
          <mat-icon>home</mat-icon>Home</a>
    <a mat-menu-item routerLink="/investigator" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">
          <mat-icon>people</mat-icon>Staff</a>
    <a mat-menu-item routerLink="/one_click" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">
          <mat-icon>search</mat-icon>One-Stop Search</a>
    <!-- <button mat-menu-item [matMenuTriggerFor]="dataMenu">
          <mat-icon>view_carousel</mat-icon>View...</button> -->
    <a mat-menu-item routerLink="/datasets" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">
          <mat-icon>graphic_eq</mat-icon>Data</a>
    <button mat-menu-item [matMenuTriggerFor]="toolsMenu">
          <mat-icon>build</mat-icon>Tools</button>
    <button mat-menu-item [matMenuTriggerFor]="graphMenu">
          <mat-icon>signal_cellular_alt</mat-icon>Networks</button>
    <ng-template #showLogin>
      <button mat-menu-item routerLink="/login"><mat-icon>person</mat-icon>Login</button>
    </ng-template>
    <button mat-menu-item routerLink="/login" *ngIf="authService.checkUser() | async; else showLogin"><mat-icon>account_box</mat-icon>Logout</button>
    <a mat-menu-item routerLink="/files" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()" *ngIf="authService.checkUser() | async;">
          <mat-icon>attach_file</mat-icon>Files</a>
    <a mat-menu-item href="http://www.muscifest.com" target="_blank" class="menu-item" (click)="sideNav.close()">Sci-FEST</a>
    </mat-sidenav>
    <mat-sidenav-content class="no-overflow">
        <app-header [sideNav]="sideNav" #header></app-header>
        <div id="scroll-marker" #scrollMarker></div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #dataMenu>
  <a mat-menu-item routerLink="/lmpd_arapidopsis" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Arabidopsis</a>
  <a mat-menu-item routerLink="/camelina" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Camelina</a>
  <a mat-menu-item routerLink="/soybean" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Soybean</a>
  <a mat-menu-item routerLink="/fatty_acid" routerLinkActive="active-nav"  class="menu-item" (click)="sideNav.close()">Fatty Acid</a>
</mat-menu>

<mat-menu #toolsMenu>
  <a mat-menu-item routerLink="/blast" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Blast</a>
  <a mat-menu-item routerLink="/glmol" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">3D Structure</a>
  <a mat-menu-item routerLink="/color-pathway" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Pathway Viewer</a>
</mat-menu>

<mat-menu #graphMenu>
  <a mat-menu-item routerLink="/protein-network" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">Protein-Protein Network</a>
  <a mat-menu-item routerLink="/go-network" routerLinkActive="active-nav" class="menu-item" (click)="sideNav.close()">GO Enrichment Network</a>
</mat-menu>
