.hero-full-screen {
    height: 450px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: normal;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
	  justify-content: space-between;
    background-size: cover;
    font-family: "Catamaran", sans-serif;
}

.active-nav {
    border-left: 3px solid #91c784;
    transition: border-left 0.5s, color 0.5s;
}
.active-nav>mat-icon {
    color: #91c784;
}
button:focus {
    background-color: inherit;
}
#sideNav {
    display: flex;
}
.absolute {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}