

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    
     <title>FatPlant</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="/static/js/vendor/jquery.js"></script>



</head>
<body>

  <app-header></app-header>

<!-- Content Bar -->

    <div class="hero-full-screen">
           
</div>  


<div class="callout callouthome large">
    <div class="row column text-center">
        <h1>FatPlant</h1>
        <!--subheader -->
        <h2 class="lead"><i> The comprehensive platform of plant fat related genes,
                proteins and metabolism.</i></h2>
        <a href="/table" class="button large">Learn Data</a>
        <a href="/cy" class="button large hollow">Learn Graph</a>
    </div>
</div>


<div class="row column text-center slice">
    <h1>Introduction</h1>
    <div class="columns small-11 small-centered textrow">
        <p>Increasing seed oil content by plant breeding has resulted in trade-offs or penalties with
            respect to protein content, seed size, or seed set. The molecular basis for this impasse is
            mostly speculative. Use of current global profiling approaches to better understand both the
            metabolic consequences of higher oil and the basis for reduced yield must also deal with off-target
            genetic mutations (even in near-isogenic lines), ultimately confounding cause-effect interpretations.
            We propose a diverse, integrated strategy to study the consequences of higher lipid production by studying
            transgenic plants specifically engineered to produce higher seed oil. Breakthroughs on the regulation of
            the committed step of de novo fatty acid synthesis (FAS) have been leveraged to produce oilseeds with
            substantially higher oil content. Prior to this time, changes in oil content have been minor which
            has made identification of small differences in metabolism difficult to study. We are now in a
            position to address recalcitrant questions about the metabolic consequences for enhancing seed oil.</p>
    </div>
</div>





<!-- Content Bar -->


<app-footer></app-footer>






<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.min.js"></script>
<script src="/static/js/custom.js"></script>

<script>
    $(document).foundation();
</script>
</body>
</html>
