<div class="container">
  <div class="picture">
    <div class="loginForm">
        <mat-tab-group class="tabs" [(selectedIndex)]="newTab" (selectedTabChange)="reset()" mat-stretch-tabs mat-align-tabs="center" [color]="'primary'">
          <mat-tab label="Email Login">
            <div class="emailForm">
              <mat-card class="futureEmail" *ngIf="user.displayName === ''">
                <mat-label>Log in with your Fatplants account</mat-label>
                <mat-form-field class="emailInput" >
                  <mat-label>Email</mat-label>
                  <input [(ngModel)]="submittedEmail" matInput placeholder="Enter your email"/>
                </mat-form-field>
                <mat-form-field class="emailInput">
                  <mat-label>Password</mat-label>
                  <input [(ngModel)]="submittedPassword" type="password" matInput placeholder="Enter your password"/>
                </mat-form-field>
                <mat-hint *ngIf="message !== ''" class="error">{{ message }}</mat-hint>
                <mat-hint *ngIf="failed" class="error">This email password combination failed.</mat-hint>
                <mat-hint *ngIf="success">Successfully logged in as {{ user.displayName }}.</mat-hint>
                <div class="emailButtons">
                  <button mat-raised-button (click)="emailLogin(submittedEmail, submittedPassword)" class="emailButton">Sign in</button>
                </div>
              </mat-card>
              <mat-card *ngIf="user.displayName !== ''">
                You are already logged in.
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Google Login">
            <mat-card *ngIf="user.displayName === ''">
              <button mat-raised-button (click)="login('google')">
                <div class="buttonFlex">
                  <mat-icon>cloud</mat-icon><span>Login to Google</span><div></div>
                </div>
              </button>
            </mat-card>
            <mat-card *ngIf="user.displayName !== ''">
              You are already logged in.
            </mat-card>
          </mat-tab>

          <mat-tab label="Sign Up">
            <div class="new">
              <mat-card class="futureEmail" *ngIf="user.displayName === ''">
                <mat-label>Sign up for a Fatplants account</mat-label>
                <mat-form-field class="emailInput" >
                  <mat-label>Email</mat-label>
                  <input type="email" (change)="badEmail = false" [(ngModel)]="newEmail" matInput placeholder="Enter your email"/>
                  <mat-hint class="error" *ngIf="badEmail">This is not a valid email address.</mat-hint>
                </mat-form-field>
                <mat-form-field class="emailInput">
                  <mat-label>Password</mat-label>
                  <input [(ngModel)] = "newPassword" type="password" matInput placeholder="Enter your password"/>
                </mat-form-field>
                <mat-form-field class="emailInput">
                  <mat-label>Confirm Password</mat-label>
                  <input (change)="checkPass()" [(ngModel)] = "checkPassword" type="password" matInput placeholder="Confirm your password"/>
                  <mat-hint *ngIf="!match" class="error">Passwords do not match.</mat-hint>
                </mat-form-field>
                <mat-hint *ngIf="message !== ''" class="error">{{ message }}</mat-hint>
                <mat-hint *ngIf="failed" class="error">This email password combination failed.</mat-hint>
                <mat-hint *ngIf="exists" class="error">An account with this email already exists.</mat-hint>
                <mat-hint *ngIf="success">Successfully logged in as {{ user.displayName }}.</mat-hint>
                <br />
                <div class="emailButtons">
                  <button mat-raised-button (click)="signUp(newEmail, newPassword)" class="emailButton" [disabled]="!match">Sign up</button>
                </div>
              </mat-card>
              <mat-card *ngIf="user.displayName !== ''">
                You are already logged in.
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Apply for Supervisor" *ngIf="user.admin === 2">
            <div class="apply">
              <mat-card class="applyCard">
                <mat-label>
                  To apply to become an Supervisor, please email one of our current admins and request membership.<br />
                  Please include your name, your organization, and why you need administrator access in your request.<br />
                  As soon as one of our admins receives your request, they can add you as an admin here in the app.
                </mat-label>
                <br />
                <br />
                <div *ngFor="let admin of admins">
                  <a [href]="'mailto:' + admin.email" class="admin">{{ admin.displayName }}: {{ admin.email }}</a>
                </div>
                <br />
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Manage Users" *ngIf="user.admin <= 1">
            <div class="newAdmin">
              <mat-card>
                <div class="table-holder">
                  <table class="table" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="users">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Users </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{ user.displayName }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="emails">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Emails </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="permissions">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Permissions </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{ user.admin }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openUser(row)"></mat-row>
                  </table>
                </div>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Logout">
            <mat-card>
              <button mat-raised-button (click)="login('logout')">
                <div class="buttonFlex">
                  <mat-icon>account_box</mat-icon><span>Logout</span><div></div>
                </div>
              </button>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
<!--        <div class="displayName" *ngIf="user !== null && user.displayName !== ''">-->
<!--          Welcome, {{ user.displayName }}-->
<!--        </div>-->
<!--        <div class="displayName" *ngIf="user === null || user.displayName === ''">-->
<!--          Welcome, Guest-->
<!--        </div>-->
    </div>
  </div>
</div>
