@import "~src/variables.scss";

mat-card {
  background-image: linear-gradient(to bottom left, $main-green, $light-green) !important;
}

.container {
  width: 100%;
  box-sizing: border-box;
  height: 89.70%;
  overflow-y: hidden;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.picture {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  background: url("../assets/login.JPG") no-repeat center center;
  background-size: cover;
}

.pictureTint {
  height: 100%;
  width: 100%;
  opacity: .3;
  background-color: #16eeff;
}

.loginForm {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  background-color: #699c86;
}

.loginButtons {
  width: 40%;
  height: 100%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayName {
  font-family: "Catamaran", sans-serif !important;
  font-size: 2vw;
}

button {
  height: 4vw;
  margin-bottom: 2%;
  border: solid $white-yellow 4px;
  font-family: "Catamaran", sans-serif !important;
  font-size: 2vw;
  background-color: #699c86;
}

mat-hint {
  color: green;
  font-family: "Catamaran", sans-serif !important;
}

.buttonFlex {
  display: flex;
  justify-content: space-between;
}

.emailForm {
  width: 100%;
  height: 60%;
}

.futureEmail {
  background-image: none !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.emailInput {
  width: 50%;
}

.emailButtons {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
}

.emailButton {
  height: 100%;
  font-size: 1vw;
}


.newAdmin {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.futureAdmin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: none !important;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
}

.adminInput {
  width: 50%;
}

.adminButtons {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
}

.adminButton {
  height: 100%;
  font-size: 1vw;
}

.error {
  color: red;
}

.apply {
  background-image: none !important;
}

.applyCard  {
  background-image: none !important;
  background-color: whitesmoke;
  border: solid $white-yellow 4px;
  color: black;
}

.admin {
  text-decoration: none;
  color: $light-green;
}
