@import "~src/variables.scss";

mat-card {
  background-image: none !important;
  margin: 0 0 0 0 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  overflow-y: hidden !important;
  min-height: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin-top: 100px;
}

.picture {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  box-sizing: border-box;
  background: url("../assets/login.JPG") no-repeat center center;
  background-size: cover;
}

.loginForm {
  margin-top: 0;
  margin-left: 25%;
  height: 51%;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(to left, $cream, $white-yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px 5px 5px 5px;
  opacity: .95;
}

.loginButtons {
  width: 40%;
  height: 100%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabs {
  border-radius: 20px 20px 0 0;
}



.displayName {
  font-family: "Catamaran", sans-serif !important;
  font-size: 2vw;
}

button {
  height: 4vw;
  margin-bottom: 2%;
  border: solid $white-yellow 4px;
  font-family: "Catamaran", sans-serif !important;
  font-size: 2vw;
  background-color: #50ab4e;
}

mat-hint {
  color: #50ab4e;
  font-family: "Catamaran", sans-serif !important;
}

.buttonFlex {
  display: flex;
  justify-content: space-between;
}

.emailForm {
  width: 100%;
  height: 60%;
}

.emailInput {
  width: 50%;
  margin-left: 25%;
}

.emailButtons {

}

.emailButton {
  height: 100%;
  font-size: 1vw;
}


.newAdmin {

}

.futureAdmin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: none !important;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
}

.adminInput {
  width: 50%;
}

.adminButtons {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
}

.adminButton {
  height: 100%;
  font-size: 1vw;
}

.error {
  color: red;
}

.apply {
  background-image: none !important;
}

.applyCard  {
  background-image: none !important;
  background-color: whitesmoke;
  border: solid $white-yellow 4px;
  color: black;
}

.admin {
  text-decoration: none;
  color: #50ab4e;
}
