<!--<mat-card style="-->
<!--  width: 100%;-->
<!--  box-sizing: border-box;-->
<!--  margin: 6% 0 0 0 !important;-->
<!--  text-align: center;-->
<!--  background-image: none !important;-->
<!--">-->
<!--  <iframe src="/static/proteinNetView.html" frameborder="0" scrolling="0" style="min-height: 900px; min-width: 1100px;"></iframe>-->
<!--</mat-card>-->

<mat-card id="base">
  <div class="left-menu">
    <mat-form-field id="filter">
      <mat-label>Target Pathway</mat-label>
      <mat-select [(value)]="selectedpathway" (selectionChange)="selectionChange()">
        <mat-option *ngFor="let pathway of pathways" [value]="pathway.value">
          {{pathway.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br><br><br>
    <mat-form-field>
      <mat-label>Group Filter Comparator:</mat-label>
      <mat-select [(value)]="comparator">
        <mat-option value="eq">Equal To</mat-option>
        <mat-option value="gr">Greater Than</mat-option>
        <mat-option value="greq">Greater Than or Equal To</mat-option>
        <mat-option value="le">Less Than</mat-option>
        <mat-option value="leeq">Less Than or Equal To</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Group Filter:</mat-label>
      <input matInput type="text" placeholder="4" [(ngModel)]="groupFilter">
    </mat-form-field>
    <p class="error-text">{{filterError}}</p>
    <button mat-raised-button color="primary" (click)="onFilterChange()">Submit</button>
    <br><br><br>
      <p class="subheader protein">Graph Shape</p>
      <a class="menu" [class.active]="layout?.name == 'cose'" title="Dynamic Node Cluster" value="cose" (click)="layoutChange('cose')">CoSE</a>
      <a class="menu" [class.active]="layout?.name == 'cola'" title="D3 Force Graph" value="cola" (click)="layoutChange('cola')">Cola</a>
      <a class="menu" [class.active]="layout?.name == 'circle'" title="Circluar Pattern" value="circle" (click)="layoutChange('circle')">Circle</a>
      <a class="menu" [class.active]="layout?.name == 'concentric'" title="Symetric" value="concentric" (click)="layoutChange('concentric')">Concentric</a>
  </div>
  <div class="main-area">
    <div class="row columns" style="text-align: center">
      <div class="columns small-10 small-centered textrow ">

        <h3 class="title">Arabidopsis PPI network</h3>

      </div>
    </div>
    <div class="graph-container">
      <div *ngIf="!visiable" class="loading-bar">
        <p>Loading...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <ng2-cytoscape 
          [elements]="graphData" 
          [layout]="layout" 
          [style]="style"
          [data]="node_description" 
          [graph]="graph" 
          (description)="nodeChange($event)" 
          *ngIf="visiable"
          >
        </ng2-cytoscape>
    </div>
    <mat-expansion-panel *ngFor="let des of descriptionList" class="ac" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{des.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let d of des.desList">
  
            <mat-icon mat-list-icon *ngIf="d.length>=2">chevron_right</mat-icon>
            <p style="margin-top: 15px" *ngIf="d.length>=2">{{d}}</p>
  
          </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </div>
</mat-card>
