

<!-- Mobile menu 1: no icons
      <mat-menu #mobileMenu>
      <a mat-menu-item routerLink="/homepage" routerLinkActive="active-nav" class="menu-item">Home</a>
      <a mat-menu-item routerLink="/introduction" routerLinkActive="active-nav" class="menu-item">Introduction</a>
      <a mat-menu-item routerLink="/investigator" routerLinkActive="active-nav" class="menu-item">Investigators</a>
      <a mat-menu-item routerLink="/one_click" routerLinkActive="active-nav" class="menu-item">One-Stop Search</a>
      <button mat-menu-item [matMenuTriggerFor]="dataMenu">Data</button>
      <button mat-menu-item [matMenuTriggerFor]="toolsMenu">Tools</button>
      <button mat-menu-item [matMenuTriggerFor]="graphMenu">Networks</button>
      <a mat-menu-item routerLink="/files" routerLinkActive="active-nav" class="menu-item">Files</a>
      <a mat-menu-item href="http://www.muscifest.com" target="_blank" class="menu-item">Sci-FEST</a>
</mat-menu> -->
<!-- Mobile menu 2: with icons -->

<!-- 
<nav class="nav-class" *ngIf="!isMobile">
  <div class="nav-wrapper nav-style">
  <ul id = "nav-mobile" class = "left">
      <li><a href="/">Project</a></li>
      <li><a href="/introduction">Introduction</a></li>
      <li><a href="/investigator">Investigator</a></li>
      <li><a routerLink="/one_click">One-Stop Search</a></li>
      <li><button mat-button [matMenuTriggerFor]="toolsMenu">Tools</button></li>
      <li><button mat-button [matMenuTriggerFor]="graphMenu">Networks</button></li>
      <li><a routerLink="/files">Files</a></li>
      <li><a href="http://www.muscifest.com/">Sci-FEST</a></li>
    </ul>
    </div>
</nav> -->
      <div class="nav-wrapper nav-style">
            <nav class="mobile-nav">
            <span class="title">FatPlant</span>
            <ul class="right" id="mobile-burger">
                  <li><button mat-button (click)="sideNav.toggle()"><mat-icon>list</mat-icon></button></li>
                  <!-- <li><a routerLink="/homepage" routerLinkActive="active-nav" matTooltip="Home">
                        <mat-icon class="icon">home</mat-icon>
                  </a></li>
                  <li><a routerLink="/introduction" routerLinkActive="active-nav" matTooltip="Info">
                        <mat-icon>help</mat-icon>
                  </a></li>
                  <li><a routerLink="/investigator" routerLinkActive="active-nav" matTooltip="Investigators">
                        <mat-icon class="icon">people</mat-icon>
                  </a></li>
                  <li><a routerLink="/one_click" routerLinkActive="active-nav" matTooltip="One-Stop Search">
                        <mat-icon>search</mat-icon>
                  </a></li>
      <li><button mat-button [matMenuTriggerFor]="toolsMenu" matTooltip="Tools"><mat-icon>build</mat-icon></button></li>
      <li><button mat-button [matMenuTriggerFor]="graphMenu" matTooltip="Networks"><mat-icon>signal_cellular_alt</mat-icon></button></li>
      <li><a routerLink="/files" routerLinkActive="active-nav" matTooltip="Files"><mat-icon>attach_file</mat-icon></a></li>
      <li><a href="http://www.muscifest.com/" target="_blank" matTooltip="Sci-FEST">Sci-FEST</a></li> -->
            </ul>
      </nav>
</div>