<ul id="tables" class="dropdown-content">
  <li><a href="lmpd_arapidopsis">Lmpd_Arapidopsis</a></li>
  ahhhhhhhhhh
</ul>
<nav class="nav-class">
  <div class="nav-wrapper nav-style">
  <ul id = "nav-mobile" class = "left">
      <li><a href="#">Project</a></li>
    <li><a href="#">About</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="tables">Data</a></li>
      <li><a href="#">Pathway</a></li>
      <li><a routerLink="/data_analysis">Data_Analysis</a></li>
    </ul>
    </div>
</nav>

<ul id="tables" class="dropdown-content">
  <li><a href="lmpd_arapidopsis">Lmpd_Arapidopsis</a></li>
  ahhhhhhhhhh
</ul>

<script src="/static/js/vendor/jquery.js"></script>
<script type="text/javascript">
   $document.ready(function(){
     console.log("route");
     $(".dropdown-trigger").dropdown();
     console.log("route")
   })
</script>
