<mat-menu #dataMenu>
  <a mat-menu-item routerLink="/lmpd_arapidopsis" class="menu-item">Lmpd_Arabidopsis</a>
  <a mat-menu-item routerLink="/camelina" class="menu-item">Camelina</a>
  <a mat-menu-item routerLink="/fatty_acid" class="menu-item">Fatty Acid</a>
  <a mat-menu-item routerLink="/soybean" class="menu-item">Soybean</a>
</mat-menu>

<mat-menu #toolsMenu>
  <a mat-menu-item routerLink="/blast" class="menu-item">Blast</a>
  <a mat-menu-item routerLink="/glmol" class="menu-item">GLmol</a>
  <a mat-menu-item routerLink="/color-pathway" class="menu-item">Color Pathway</a>
</mat-menu>

<mat-menu #graphMenu>
  <a mat-menu-item routerLink="/graph" class="menu-item">Protein-Protein Network</a>
  <a mat-menu-item routerLink="/go-network" class="menu-item">GO Network</a>
</mat-menu>


<nav class="nav-class">
  <div class="nav-wrapper nav-style">
  <ul id = "nav-mobile" class = "left">
      <li><a href="/">Project</a></li>
    <li><a href="/">About</a></li>
    <li><button mat-button [matMenuTriggerFor]="dataMenu">Data</button></li>
      <li><a href="/introduction">Introduction</a></li>
      <li><a href="/investigator">Investigator</a></li>
      <!-- <li><a href="/go-network">GO Network</a></li> -->
      <li><a routerLink="/files">Files</a></li>
      <li><a routerLink="/one_click">One-Stop Search</a></li>
    <li><button mat-button [matMenuTriggerFor]="toolsMenu">Tools</button></li>
    <li><button mat-button [matMenuTriggerFor]="graphMenu">Cytoscape</button></li>
<!--      <li><a routerLink="/graph">Protein-Protein Network</a></li>-->
      <li><a routerLink="/camelina">Camelina</a></li>
      <li><a routerLink="/fatty_acid">Fatty Acid</a></li>
<!--    <li><a href="/goNetView.html">GO Net</a></li>-->
<!--      <li><a href="/viewer.html">viewer</a></li>-->
<!--      <li><a href="/proteinNetView.html">Protein Net</a></li>-->


    </ul>
    </div>
</nav>
