/* using theme A colors */


.mobile-nav-class {
  margin-bottom: 15px;
  background-color: #666666;
  min-width: 500px;
  min-height: 64px;
}

a {
  color: white;
  height: 64px;
  align-items: center;
  display: flex;
  /* justify-content: space-between; fix between to fill out entire page */
}

ul {
  height: inherit;

}

li, button{
  height: 64px;
}

button{
  border: none;
}

button:focus {
  background-color: inherit;
}

.menu-item{
  background-color: white;
  color: black;
}

.icon {
  margin: auto;
}

.active-nav {
  border-left: 3px solid #91c784;
  transition: border-left 0.5s, color 0.5s;
}
.active-nav>mat-icon {
  color: #91c784;
}
.title {
  margin-left: 10px;
}

#mobile-burger {
  position: sticky;
  right: 0;
}