@import "~src/variables.scss";

mat-card {
  width: 100%;
  max-height: 100px;
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 0;
  position: fixed;
  z-index: 1000;
  background-image: none !important;
  background-color: rgb(128,128,128, .2);
  border-radius: 0 0 0 0;
  box-shadow: 2px 2px 2px 2px $dark;
  font-family: "PT Sans narrow", sans-serif;
  font-size: 1.3vw
}

.icon {
  float: left;
  width: 17vw;
  min-height: 80px;
  border-radius: 2px;
  background-image: url("../assets/homepageAssets/icon.PNG");
  background-size: cover;
}

.nav-style{
  word-break: keep-all;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 0;
}

.nav-bar {
  width: 100%;
}

li, button{
  height: 64px;
  cursor: pointer;
  border-left: solid grey 2px;
  padding-left: 2%;
}


.menu-item{
  color: black;
  text-shadow: none;
}

nav {
  width: 100%;
}

.dark-background {
  color: $yellow;
  text-decoration: none;
}

.mobile-nav {
  margin-bottom: 15px;
  color: white;
  background-image: linear-gradient($light-green, $main-green);
  display: flex;
  min-height: 50px;
  position: relative;
}
.mobile-a {
  color: white;
  height: 64px;
  align-items: center;
  display: flex;
  /* justify-content: space-between; fix between to fill out entire page */
}

.title {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
#mobile-burger {
  position: sticky;
  right: 0;
}
.burger-icon {
  position: absolute;
  height: 100%;
  right: 0;
  float: right;
}
.right {
  float: right;
  position: absolute;
  right: 0;
}
.desktop-active {
  color: white;
  transition: color 0.5s;
}
.desktop-active-menu-item {
  color: $lime-green;
}
