.nav-style{
  background-color:  #4CAF50;
}

a{
  color: white;
}

li, button{
  height: 64px;
}

button{
  border: none;
  background-color:  #4CAF50;
  color:  white;
  width: 80px;
}

.menu-item{
  background-color: #4CAF50;
  color:  white;
}

.spacer {
  flex: 1 1 auto;
}