<mat-card id="base">
    <div class="left-menu">
        <a class="menu" [class.active]='this.dataset == "arapidopsis"' (click)='changeDataset("arapidopsis")'>Arapidopsis</a>
        <a class="menu" [class.active]='this.dataset == "camelina"' (click)='changeDataset("camelina")'>Camelina</a>
        <a class="menu" [class.active]='this.dataset == "soybean"' (click)='changeDataset("soybean")'>Soybean</a>
        <a class="menu" [class.active]='this.dataset == "fattyacid"' (click)='changeDataset("fattyacid")'>Fatty Acid</a>
    </div>
</mat-card>
