@import "~src/variables.scss";

#base {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: auto;
    margin-top: 6%;
    background-color: white;
    background-image: none !important;
    font-family: "PT Sans", sans-serif;
    font-size: 1.0vw;
    display: flex;
}
.left-menu {
    position: sticky;
    top: 10%;
    left: 2%;
    height: auto;
    width: 12%;
    align-self: flex-start;
}
a.menu {
    display: block;
    padding: 3%;
    color: gray;
    cursor: pointer;
    transition: all 0.5s;
}

a.menu:not(.active):hover {
    color: $lime-green;
    transition: color 0.2s;
}

a.active {
    color: black;
    border-bottom: 1px solid $lime-green;
    width: max-content;
    padding-bottom: none;
    font-size: 1.3vw;
    transition: all 0.5s;
}
#table {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "PT Sans", sans-serif;
    width: 80%
}
mat-header-cell {
    font-family: "PT Serif", serif;
    color: black;
    padding-right: 2%;
}
mat-header-row {
    border-bottom-color: rgba(grey, 0.5);
    font-size: 1.0vw;
    padding-top: 5%;
}
mat-row {
    border-bottom-color: $pale-green;
}
mat-cell {
    padding-right: 2%;
}
mat-cell>a, mat-cell>span>a {
    text-decoration: none;
    color: $light-green;
}
mat-cell>a:visited, mat-cell>span>a:visited {
    color: $dark-green;
}

.pointer {
    cursor: pointer;
    padding: 5px;
}
#filter {
    width: 69%;
}

.subheader {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.subheader.protein {
    background-color: rgba($light-green, 0.3);
}

.subheader.fattyacid {
    background-color: rgba($yellow, 0.3);
}

.seq-cell {
    flex-wrap: wrap;
}

.seq-entry {
    margin: 2% 0;
}

.external-link{
  font-size: 14px;
}