<mat-card id="base">
    <div class="left-menu">
      <mat-form-field id="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-icon (click)='refreshData()' class="pointer" matTooltip="Refresh Data">refresh</mat-icon>
      <br><br><br>
        <p class="subheader protein">Protein Species</p>
        <a class="menu" [class.active]='this.dataset == "arabidopsis"' (click)='changeDataset("arabidopsis")'>Arabidopsis</a>
        <a class="menu" [class.active]='this.dataset == "camelina"' (click)='changeDataset("camelina")'>Camelina</a>
        <a class="menu" [class.active]='this.dataset == "soybean"' (click)='changeDataset("soybean")'>Soybean</a>
        <p class="subheader fattyacid">Fatty Acids</p>
        <a class="menu" [class.active]='this.dataset == "fattyacid"' (click)='changeDataset("fattyacid")'>Chemical Data</a>
    </div>
    <mat-table [dataSource]='currentDataSource' id='table' *ngIf="!loading">
        
      <ng-container matColumnDef="uniprot_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Uniprot Page </mat-header-cell>
        <mat-cell *matCellDef="let elem"> <a href="http://uniprot.org/uniprot/{{elem.uniprot_id}}" target="_blank">{{elem.uniprot_id}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="refseq_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Refseq Page </mat-header-cell>
        <mat-cell *matCellDef="let elem"><a href="https://www.ncbi.nlm.nih.gov/protein/{{elem.refseq_id}}" target="_blank">{{ elem.refseq_id }}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="tair_ids">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tair Page </mat-header-cell>
        <mat-cell *matCellDef="let elem">
          <span *ngIf="elem.tair_ids !== undefined && elem.tair_ids.length > 0">
            <a class='link' *ngFor="let tair_id of uniqueTairs(elem.tair_ids)"
              href="https://www.arabidopsis.org/servlets/TairObject?type=locus&name={{tair_id}}" target="_blank">
              {{tair_id}}
            </a>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gene_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Name </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.gene_name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gene_symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Symbol </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.gene_symbol }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="protein_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Protein Name </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.protein_name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="protein_entry">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Protein Entry </mat-header-cell>
        <mat-cell *matCellDef="let elem"><a [routerLink]="['/protein', elem.uniprot_id]"> {{ elem.protein_entry }} </a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="moreInfo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>More</mat-header-cell>
        <mat-cell *matCellDef="let elem"><button mat-raised-button [matMenuTriggerFor]="dropdownMenu" (click)="changeElem(elem)">More Info?</button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="camelina">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Camelina </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.Camelina }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aralip_pathways">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Aralip Pathways </mat-header-cell>
        <mat-cell *matCellDef="let elem">{{elem.Aralip_Pathways}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ath_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ath Description </mat-header-cell>
        <mat-cell *matCellDef="let elem">{{ elem.Ath_description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.No }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="homeologs">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Homeologs </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.Homeologs }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="soybean_uniprot_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Uniprot Page </mat-header-cell>
        <mat-cell *matCellDef="let elem"> <a href="http://uniprot.org/uniprot/{{elem.UniprotID}}" target="_blank">{{elem.UniprotID}}</a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="soybean_refseq_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Refseq Pages </mat-header-cell>
        <mat-cell *matCellDef="let elem" class="seq-cell">
            <a *ngFor="let refSeq of elem.RefSeqList" class="seq-entry" href="https://www.ncbi.nlm.nih.gov/protein/{{refSeq}}" target="_blank">{{refSeq}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="soybean_gene_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Name </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.Genenames }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Alternativegenenames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Alternative Gene Names </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.Alternativegenenames }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="soybean_protein_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Protein Name </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.Proteinnames }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="soybean_protein_entry">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Protein Entry </mat-header-cell>
        <mat-cell *matCellDef="let elem">{{ elem.ProteinEntry }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
        <mat-cell *matCellDef="let elem"><a href="http://opsin.ch.cam.ac.uk/opsin/{{elem.SystematicName}}.png" target="_blank"><img src="http://opsin.ch.cam.ac.uk/opsin/{{elem.SystematicName}}.png" height="40" width="100" alt="Fatty Acid Picture"></a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Systematic Name </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{ elem.SystematicName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mass">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mass </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.Mass}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sofa_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SOFA ID</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.SOFAID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="formula">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Formula</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.Formula}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="other_names">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Other Names</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.OtherNames}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delta_notation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Delta Notation</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem['Delta-Notation']}}</mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
</mat-card>
