.container {
  margin-top: 8rem;
  box-sizing: border-box;
  font-family: "PT Serif", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 1px;
}

.row-white {
  background-color: white !important;
}

.profile {
  max-height: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  border-radius: 200px;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: 8%;
}

.profileHolder {
  width: 50%;
}

.profInfo {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.information {
  text-align: justify;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: darkgray;
}

.header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: rgb(192, 192, 192, .8);
  color: whitesmoke
}
