<div class="row">
  <div class="column">
    <div class="card">
      <img [src]="ppl2" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h2>Jay Thelen</h2>
        <p class="title">PI</p>
        <p>Univ. of Missouri</p>
        <br>
        <p>thelenj@missouri.edu</p>
        <p><button class="button" href="https://biochem.missouri.edu/faculty/faculty-members/thelenj/index.php">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl1" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h2>Douglas Allen</h2>
        <p class="title">CO-PI</p>
        <p>Danforth Center</p>
        <p>USDA-ARS</p>
        <p>Doug.allen@ars.usda.gov</p>
        <p><button class="button" href="https://www.danforthcenter.org/scientists-research/principal-investigators/douglas-allen">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl3" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h2>Philip Bates</h2>
        <p class="title">CO-PI</p>
        <p>Washington State Univ.</p>
        <br>
        <p>phil_bates@wsu.edu</p>
        <p><button class="button" href="https://www.usm.edu/chemistry-biochemistry/faculty/philip-d-bates">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl4" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h2>Abe Koo</h2>
        <p class="title">CO-PI</p>
        <p>Univ. of Missouri</p>
        <br>
        <p>kooaj@missouri.edu</p>
        <p><button class="button" href="https://biochem.missouri.edu/faculty/faculty-members/kooa/index.php">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl5" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h2>Dong Xu</h2>
        <p class="title">CO-PI</p>
        <p>Univ. of Missouri</p>
        <br>
        <p>xudong@missouri.edu</p>
        <p><button class="button" href="https://engineering.missouri.edu/faculty/dong-xu/">Contact</button></p>
      </div>
    </div>
  </div>
