<div class="row">
  <div class="column">
    <div class="card">
      <img [src]="ppl2" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h6>Jay Thelen</h6>
        <p class="title">PI</p>
        <p>University of Missouri - Columbia</p>
        <p>thelenj@missouri.edu</p>
        <p><button class="button" href="https://biochem.missouri.edu/faculty/faculty-members/thelenj/index.php">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl1" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h6>Douglas Allen</h6>
        <p class="title">CO-PI</p>
        <p>Danforth Center USDA-ARS</p>
        <p>Doug.allen@ars.usda.gov</p>
        <p><button class="button" href="https://www.danforthcenter.org/scientists-research/principal-investigators/douglas-allen">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl3" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h6>Philip Bates</h6>
        <p class="title">CO-PI</p>
        <p>Washington State University</p>
        <p>phil_bates@wsu.edu</p>
        <p><button class="button" href="https://www.usm.edu/chemistry-biochemistry/faculty/philip-d-bates">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl4" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h6>Abe Koo</h6>
        <p class="title">CO-PI</p>
        <p>University of Missouri - Columbia</p>
        <p>kooaj@missouri.edu</p>
        <p><button class="button" href="https://biochem.missouri.edu/faculty/faculty-members/kooa/index.php">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img [src]="ppl5" alt="investigators" style="width:100%;height:380px">
      <div class="container">
        <h6>Dong Xu</h6>
        <p align="left" class="title">CO-PI</p>
        <p align="left" >University of Missouri - Columbia</p>

        <p align="left" >xudong@missouri.edu</p>
        <p align="left" ><button class="button" href="https://engineering.missouri.edu/faculty/dong-xu/">Contact</button></p>
      </div>
    </div>
  </div>
