<mat-progress-bar id="loading-bar" mode="indeterminate" *ngIf="this.dataService.loading"></mat-progress-bar>

  <div class="row" style="width: 100%">
    <div class="column left" id="stepper">
      <h3>Uniprot ID: {{uniprot_id}}</h3>
      <mat-vertical-stepper (selectionChange)="changeConfig($event.selectedStep.label)" disableRipple="true">
        <ng-template matStepperIcon="number">
        </ng-template>
        <mat-step class="nav-item" [class.active]="isSummary" label="Summary" [completed]='false'></mat-step>
        <mat-step class="nav-item" [class.active]="isStructure" label="Structure" [completed]='false'></mat-step>
        <mat-step class="nav-item" [class.active]="isBlast" label="Blast" [completed]='false'></mat-step>
        <mat-step class="nav-item" [class.active]="isPathway" label="Pathway" [completed]='false'></mat-step>
      </mat-vertical-stepper>
    </div>

<!--    summary-->
    <div *ngIf="isSummary">
    <div class="column middle">
      <h2>Summary</h2>
      <div class="row">
        <table class="flat-table">
          <tr>
            <th><strong>Gene Name: </strong></th>
            <td>{{this.lmpd.gene_name}}</td>
          </tr>
          <tr>
            <th><strong>Protein Name: </strong></th>
            <td>{{this.lmpd.protein_name}}</td>
          </tr>
          <tr>
            <th><strong>Species: </strong></th>
            <td>{{this.lmpd.species}}</td>
          </tr>
          <tr>
            <th><strong>Species Long: </strong></th>
            <td>{{this.lmpd.species_long}}</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="row">
        <label *ngIf="noPdb">No PDB file found in our database</label>
        <iframe [src]="defaultPdb" style="transform: scale(1);transform-origin: 0 0;width: 100%; min-height: 600px" *ngIf="!noPdb"></iframe>
      </div>

    </div>

    <div class="column right">
      <h2>Detail</h2>
      <div class="row">
                <table class="flat-table">
                  <tr>
                    <th><strong>Gene Symbol: </strong></th>
                    <td>{{this.lmpd.gene_symbol}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Lmp ID: </strong></th>
                    <td>{{this.lmpd.lmp_id}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein mrna id: </strong></th>
                    <td>{{this.lmpd.mrna_id}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Entry: </strong></th>
                    <td>{{this.lmpd.protein_entry}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein GI: </strong></th>
                    <td>{{this.lmpd.protein_gi}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Refseq ID: </strong></th>
                    <td>{{this.lmpd.refseq_id}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Sequence Length: </strong></th>
                    <td>{{this.lmpd.species_long}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Tax ID: </strong></th>
                    <td>{{this.lmpd.taxid}}</td>
                  </tr>
                  <tr>
                    <th><strong>Protein Uniprot ID: </strong></th>
                    <td>{{this.lmpd.uniprot_id}}</td>
                  </tr>
                </table>
      </div>
        <h2>Sequence</h2>
        <div id="sequence-display">{{this.lmpd.sequence}}</div>
    </div>
  </div>
<!--    structure-->
    <div class="column middleright" *ngIf="isStructure">
      <div *ngIf="noPdb" class="centered">No PDB file found in our database</div>
      <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms" *ngIf="!noPdb">
        <mat-tab *ngFor="let pdb of pdbList" label="{{pdb.name}}">
          <ng-template matTabContent>
            <iframe [src]="pdb.url" style="width: 100%" height="768"></iframe>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
<!--    blast-->
    <div class="column middleright" *ngIf="isBlast">
      <div class="row centered" *ngIf="showProgress">
        <circle-progress
          [percent]="percent"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [startFromZero]="false"
        ></circle-progress>
      </div>

      <div class="row" *ngFor="let res of showBlastResList">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{res[0]}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <pre>{{res[1]}}</pre>
            </mat-expansion-panel>
          </mat-accordion>

      </div>
    </div>
<!--    pathway-->
    <div class="column middleright" *ngIf="isPathway">
      <div class="centered" *ngIf="pathwayList.length == 0">No pathway diagrams found in our database.</div>
      <mat-tab-group style="color: #4CAF50" style="min-height: 600px" id="pathway-tabs" animationDuration="0ms" *ngIf="pathwayList.length > 0">
        <mat-tab *ngFor="let pathway of pathwayList" label="{{pathway.name}}">
          <ng-template matTabContent>
            <iframe id="pathway-view" [src]="pathway.url"></iframe>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

