@import '~src/variables.scss';

table.blueTable {
  border: 1px solid $main-green;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: rgba($lime-green, 0.2);
}
table.blueTable thead {
  background: rgba($main-green, 0.4);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 15%;
  padding: 0;
}

.column.right {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
}

.column.middleright {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-family: monospace;
  word-break: break-all;
  border-radius: 10px;
  background: transparent;
}
#loading-bar {
  width: 60%;
  margin: auto;
  margin-top: 2%;
}
.centered {
  text-align: center;
  margin: auto;
}
#pathway-view {
  width: 100%;
  min-height: 600px;
  border: none;
}
#pathway-tabs {
  width: 80%;
  min-width: 910px;
}

.nav-item {
  color: grey;
  transition: color 0.5s;
}
.nav-item:hover {
  color: $light-green;
}
.active {
  color: black;
  transition: color 0.5s;
}

::ng-deep .mat-step .mat-step-header .mat-step-icon-selected {
  background-color: $lime-green;
  height: 24px !important;
  width: 24px !important;
  margin-left: 0px !important;
  transition: all 0.5s cubic-bezier(.35,0,.25,1);
}
::ng-deep .mat-step .mat-step-header .mat-step-icon {
  height: 12px;
  width: 12px;
  margin-left: 6px;
  transition: all 0.5s cubic-bezier(.35,0,.25,1);
}
#stepper {
  position: sticky;
  top: 20%;
}

#sequence-display {
  word-wrap: break-word;
  margin-top: 5px;
}

#pdb-loading-bar {
  width: 100%;
}

mat-header-cell {
  font-family: "PT Serif", serif;
  color: black;
  padding-right: 2%;
}
mat-header-row {
  border-bottom-color: rgba(grey, 0.5);
  font-size: 1.0vw;
  padding-top: 5%;
}
mat-row {
  border-bottom-color: $pale-green;
}
mat-cell {
  padding-right: 2%;
}

#sequence-button {
  margin: 15px auto;
  display: block;
  color: white;
}

.green-button {
  transition: background-color 0.5s;
}
.green-button:hover {
  background-color: rgba($lime-green, 0.3);
  transition: all 0.5s;
}

.viewer-button {
  color: white;
}

.disabled-arrow {
  color: lightgrey;
}
.enabled-arrow {
  color: black;
  transition: color 0.3s;
}
.enabled-arrow:hover {
  color: $main-green;
  transition: color 0.3s;
  cursor: pointer;
}
#left-arrow {
  position: absolute;
  left: 10%;
  bottom: 0;
}
#right-arrow {
  position: absolute;
  right: 10%;
  bottom: 0;
}
#arrow-label {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  text-align: center;
}
#arrow-wrapper {
  margin-top: 10px;
  height: 30px;
}