/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~src/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Catamaran:200&display=swap');
html, body { height: 100%; }

.background {
  background: url("app/assets/homepageAssets/plantParalax.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

mat-card {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
