/* You can add global styles to this file, and also import other style files */
.hero-full-screen {
    height: 450px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
	justify-content: space-between;
	background: href="../src/assets/header.jpg" center center no-repeat;
    background-size: cover;
}