$main-green: rgba(#226D4D, 1);
$dark-green: rgba(#224828, 1);
$light-green: rgba(#309464, 1);
$lime-green: rgba(#81C784, 1);
$pale-green: rgba(#E9EFC5, 1);

$orange-yellow: rgba(#CCAA7C, 1);
$yellow: rgba(#F0D173, 1);
$cream: rgba(#E7CC8F, 1);
$white-yellow: rgba(#F2F2CE, 1);

$light: rgba(#FEFEEF, 1);
$dark: rgba(#666666, 1);
