<div>
  <h3>Arapidopsis</h3>
  <p>This is the fatty-related proteins of <i>Arabidopsis thaliana.</i></p>
  <p>The column, 'Uniprot Page' and 'Refseq page' will redirect the entry protein to UniProt and NCBI pages.</p>
  <p>Protein Entry column will redirect to our internal details information page of entry protein.</p>
  <p>More Info card will pop up a card of identifiers of entry protein.</p>
</div>

<mat-menu #dropdownMenu>
<app-lmpd-card [fields]="cardfields" [headers]="headerfields" [subheaders]="subheaders"></app-lmpd-card>
</mat-menu>

<div class="mat-elevation-z8">
      <div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
        <mat-cell *matCellDef="let elem"> {{ elem.species }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="uniprot_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Uniprot Page </mat-header-cell>
            <mat-cell *matCellDef="let elem"> <a href="http://uniprot.org/uniprot/{{elem.uniprot_id}}" target="_blank">{{elem.uniprot_id}}</a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="refseq_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Refseq Page </mat-header-cell>
                <mat-cell *matCellDef="let elem"><a href="https://www.ncbi.nlm.nih.gov/protein/{{elem.refseq_id}}" target="_blank">{{ elem.refseq_id }}</a></mat-cell>
              </ng-container>

              <ng-container matColumnDef="gene_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Name </mat-header-cell>
                    <mat-cell *matCellDef="let elem"> {{ elem.gene_name }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="gene_symbol">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Gene Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let elem"> {{ elem.gene_symbol }} </mat-cell>
                      </ng-container>

                  <ng-container matColumnDef="protein_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Protein Name </mat-header-cell>
                        <mat-cell *matCellDef="let elem"> {{ elem.protein_name }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="protein_entry">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Protein Entry </mat-header-cell>
                        <mat-cell *matCellDef="let elem"><a [routerLink]="['/lmpddetailview', elem.uniprot_id]"> {{ elem.protein_entry }} </a></mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="moreInfo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>More</mat-header-cell>
                      <mat-cell *matCellDef="let elem"><button mat-button [matMenuTriggerFor]="dropdownMenu" (click)="changeElem(elem)">More Info?</button></mat-cell>
                  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20,2500]" showFirstLastButtons></mat-paginator>
