<mat-card class="row columns base" style="min-width: 1000px">
    <div class="columns small-10 small-centered textrow ">
      <h1>Pathway Viewer</h1>
      <p>A tool for viewing pathway figures.</p>
  
    </div>
    <div>
        <mat-form-field appearance="fill" class="selector">
            <mat-label>Pathways</mat-label>
            <mat-select (selectionChange)="onChange($event.value)" value="/app/assets/pathwayImages/Cutin Synthesis & Transport 1.png">
                <mat-option *ngFor="let option of pathwayOptions" [value]="option.link">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedLink != ''"  class="imageArea">
        
        <div>
            <img [src]="selectedLink">
        </div>       
    </div>
  </mat-card>