
<mat-card id="base">
  <div class="left-menu">
    <mat-form-field>
      <mat-label>Entity Identifier:</mat-label>
      <input matInput id="entity-identifier-textbox" type="text" name="entity-name" placeholder="Gene/RefSeq_id/mRna_id" [(ngModel)]="filter">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterClick()">Submit</button>
    <br><br><br>
      <p class="subheader protein">Graph Shape</p>
      <a class="menu" [class.active]="layout?.name == 'cose'" title="Dynamic Node Cluster" value="cose" (click)="layoutChange('cose')">CoSE</a>
      <a class="menu" [class.active]="layout?.name == 'cola'" title="D3 Force Graph" value="cola" (click)="layoutChange('cola')">Cola</a>
      <a class="menu" [class.active]="layout?.name == 'circle'" title="Circluar Pattern" value="circle" (click)="layoutChange('circle')">Circle</a>
      <a class="menu" [class.active]="layout?.name == 'concentric'" title="Symetric" value="concentric" (click)="layoutChange('concentric')">Concentric</a>
      <a class="menu" [class.active]="layout?.name == 'concentric'" title="Symetric" value="concentric" (click)="layoutChange('avsdf')">Avsdf</a>
  </div>
  <div class="main-area">
    <div class="row columns" style="text-align: center">
      <div class="columns small-10 small-centered textrow ">

        <h3 class="title">Arabidopsis Go Enrichment Network</h3>

      </div>
    </div>
    <div class="graph-container">
      <div *ngIf="!visiable" class="loading-bar">
        <p>Loading...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <ng2-cytoscape 
        [elements]="graphData" 
        [layout]="layout" 
        [style]="style" 
        [data]="node_description" 
        [graph]="graph" 
        (description)="nodeChange($event)" 
        *ngIf="visiable">
      </ng2-cytoscape>
    </div>

    <mat-expansion-panel *ngIf="node_name!=null" class="ac">
        <mat-expansion-panel-header>
            <mat-panel-title>
              Name: {{node_name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
</mat-card>

