<div>
    <h1>Fatty Acid</h1>
    <p>This data set incudes ~400 fatty acid chemical information which is collected from PlantFAdb </p>
  </div>

  <div class="mat-elevation-z8">
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
        <mat-cell *matCellDef="let elem"><a href="http://opsin.ch.cam.ac.uk/opsin/{{elem.SystematicName}}.png" target="_blank"><img src="http://opsin.ch.cam.ac.uk/opsin/{{elem.SystematicName}}.png" height="40" width="100" alt="Fatty Acid Picture"></a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Systematic Name </mat-header-cell>
          <mat-cell *matCellDef="let elem"> {{ elem.SystematicName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mass">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Mass </mat-header-cell>
              <mat-cell *matCellDef="let elem"> {{elem.Mass}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sofa_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> SOFA ID</mat-header-cell>
          <mat-cell *matCellDef="let elem">{{elem.SOFAID}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="formula">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Formula</mat-header-cell>
          <mat-cell *matCellDef="let elem">{{elem.Formula}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="other_names">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Other Names</mat-header-cell>
          <mat-cell *matCellDef="let elem">{{elem.OtherNames}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delta_notation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Delta Notation</mat-header-cell>
          <mat-cell *matCellDef="let elem">{{elem['Delta-Notation']}}</mat-cell>
        </ng-container>

  <!-- MAKE THIS JUST BE THE NAME THE PIC AND THEN A MORE INFO CARD -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
