<h3>One-Stop Search</h3>
<p>User can submit a protein sequence, a uniprot ID or a Gene name of fatty acid related proteins, it will automatically show the structures, blastp results and related pathway.</p>
<p>e.g. P46086 as UniProt ID.<p>
<mat-tab-group style="color: #4CAF50" [(selectedIndex)]="tabIndex">
  <mat-tab label="Gene">

  </mat-tab>
  <mat-tab label="Uniprot ID">
<!--    <input (keyup)="Search($event.target.value)">-->
  </mat-tab>
  <mat-tab label="Sequence">
  </mat-tab>
</mat-tab-group>

<div class="container" style="min-width: 1000px">
  <div class="row">
    <div class="input-field col s12">
      <textarea style="min-height: 150px" name="Search" class="browser-default" placeholder="Search" (keyup)="Search($event.target.value)" [(ngModel)]="query"></textarea>

    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <label>Protein Database</label>
      <select name="ProteinDatabase" class="browser-default" [(ngModel)]="proteindatabase">
        <option value="Arabidopsis" selected>Arabidopsis</option>
        <option value="Soybean">Soybean</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s6" (click)="Loading()">
      <button class="btn waves-effect waves-light" (click)="OneClick()" >submit</button>
    </div>
  </div>

</div>



<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-action-list *ngIf="tabIndex==1">
  <button mat-list-item *ngFor="let item of items | async" (click)="ListClick($event.target.innerText)">{{item.uniprot_id}}</button>
</mat-action-list>

<mat-action-list *ngIf="tabIndex==0">
  <button mat-list-item *ngFor="let item of items | async" (click)="ListClick($event.target.innerText)">{{item.gene_name}}</button>
</mat-action-list>

<div id="pdf" #pdf>
<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Details</label>
  <br>
    <div class="row">
      <div class="column">Name</div>
      <div class="column">{{proteinName}}</div>
    </div>
    <div class="row">
      <div class="column">Seqence</div>
      <div class="column"><textarea [(ngModel)]="proteinSeq" style="min-height: 100px"></textarea></div>
    </div>
  <br>
</div>

<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label >GLmol</label>
  <br>
  <label *ngIf="nopdb">No PDB file found in our database</label>
  <br>
  <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms">
    <mat-tab *ngFor="let pdb of pdbs" label="{{pdb}}">
      <ng-template matTabContent>
      <iframe [src]="SafeUrl(pdb)" style="width: 100%" height="768"></iframe>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Blast Result</label>
  <br>
  <div class="row">
    <button class="btn waves-effect waves-light" (click)="ShowAllRes()">Show All</button>
  </div>
  <div class="row" *ngFor="let res of showblastRes">
    <div style="max-width: 1000px">
      <div class="card">
        <div class="card-content">
          <!--        <span class="card-title">{{res.title}}</span>-->
          <pre>{{res}}</pre>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
</div>

<!--<iframe style="width: 100%" height="768" frameborder="0" scrolling="0" src="/pathway.html?id=R-ATH-1119438.1"></iframe>-->

<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Pathway Figure</label>
  <br>
  <label *ngIf="noimg">No figure found in database</label>
  <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms">

    <mat-tab *ngFor="let img of imgs" label="{{img[1]}}">
      <ng-template matTabContent>
        <iframe [src]="SafeImg(img[0])" style="width: 100%" height="768" frameborder="0" scrolling="0"></iframe>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<!--<div *ngIf="debug"> <button class="btn waves-effect waves-light" (click)="downloadAsPDF()">Export To PDF</button></div>-->
