<!--</div>-->
<!--<form action="#">-->
<!--  <div class="file-field input-field">-->
<!--    <div class="btn">-->
<!--      <span>File Upload</span>-->
<!--      <input type="file">-->
<!--    </div>-->
<!--    <div class="file-path-wrapper">-->
<!--      <input class="file-path validate" type="text">-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->


<!--    <hr size=3 >-->
<!--<div class="row columns" style="width: 1000px">-->
<!--  <div class="columns small-10 small-centered textrow ">-->

<!--    <p>Glmol Tools</p>-->
<!--    <p>GLmol is a 3D molecular viewer based on WebGL and Javascript.</p>-->
<!--  </div>-->
<!--</div>-->

<!--<form action="#"  class="col s12">-->
<!--  <div class="row">-->
<!--    <input type="textarea" class="browser-default" placeholder="GeneID" [(ngModel)]="glmolUrl" [ngModelOptions]="{standalone: true}">-->
<!--    <p>eg. Glyma14g08610.1 Glyma16g01990.1 Glyma15g07360.1</p>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <button class="btn waves-effect waves-light" (click)="showGlmol()">SUBMIT</button>-->
<!--  </div>-->
<!--</form>-->

<!--<div *ngIf="isGlmol">-->
<!--&lt;!&ndash;  <a href={{glmolUrl}}>3D Protein Structure Search</a>&ndash;&gt;-->
<!--  <iframe src={{glmolUrl}} style="width: 100%" height="768"></iframe>-->
<!--</div>-->


<div class="container" style="min-width: 1000px" *ngIf="false">
  <div class="row">
    <div class="input-field col s12">
      <textarea name="input" [(ngModel)]="blast" class="browser-default" placeholder="Search" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <button class="btn waves-effect waves-light" (click)="OneClick()" >submit</button>
    </div>
    <div class="col s6">
      <button class="btn waves-effect waves-light" type="reset" name="action">clear</button>
    </div>
  </div>
</div>

<div *ngIf="false">
  <div class="row columns" style="width: 1000px">
    <div class="columns small-10 small-centered textrow ">
      <h1>Blast Tools</h1>
    </div>
  </div>
  <!--<div class="container" style="width: 500px">-->
  <form action="#" class="col s12" [formGroup]="blastForm" (ngSubmit)="onSubmit(blastForm.value)">
    <div class="row">
      <div class="input-field col s6">
        <textarea style="height: 100px" name="fasta" class="browser-default" placeholder="Sequence" formControlName="fasta"></textarea>
        <!--        <label for="fasta">Sequence</label>-->
      </div>

    </div>
    <div class="row">
      <div class="col s2">
        <input class="with-gap" name="method" type="radio" id="BlastP" formControlName="method" value="blastp" (change)="SelectBlastP()"/>
        <label for="BlastP">BlastP</label>
      </div>
      <div class="col s2">
        <input class="with-gap" name="method" type="radio" id="BlastX" formControlName="method" value="blastx" (change)="SelectBlastP()"/>
        <label for="BlastX">BlastX</label>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isBlastP" class="col s6">
        <label>Protein Database</label>
        <select name="ProteinDatabase" class="browser-default" formControlName="ProteinDatabase">
          <option value="Glyma1.pep.fa.gz">Glyma1.pep.fa.gz</option>
          <option value="Gmax_189_protein.fa">Gmax_189_protein.fa</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isBlastP" class="col s6">
        <label>E-value threshold</label>
        <select class="browser-default" formControlName="Ethreshold">
          <option value="0.0001">0.0001</option>
          <option value="0.001" selected>0.001</option>
          <option value="0.01">0.01</option>
          <option value="1">1</option>
          <option value="10">10</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isBlastP" class="col s6">
        <label>Show max hits</label>
        <select class="browser-default" formControlName="maxhit">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10" selected>10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="ALL">ALL</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s2">
        <input class="with-gap" name="method" type="radio" id="BlastN" formControlName="method" value="blastn" (change)="SelectBlastN()"/>
        <label for="BlastN">BlastN</label>
      </div>
      <div class="col s2">
        <input class="with-gap" name="method" type="radio" id="TBlastX" formControlName="method" value="tblastx" (change)="SelectBlastN()"/>
        <label for="TBlastX">TBlastX</label>
      </div>
      <div class="col s2">
        <input class="with-gap" name="method" type="radio" id="TBlastN" formControlName="method" value="tblastn" (change)="SelectBlastN()"/>
        <label for="TBlastN">TBlastN</label>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isBlastN" class="col s6">
        <label>Nucleotide Database</label>
        <select class="browser-default" formControlName="NucleotideDatabase">
          <option value="Glyma1.cDNA.fa" selected>Glyma1.cDNA.fa</option>
          <option value="Glyma1.cds.fa">Glyma1.cds.fa</option>
          <option value="Genome Version 1.0">Genome Version 1.0</option>
          <option value="Genome Version 9.0">Genome Version 9.0</option>
          <option value="Full Length CDNA">Full Length CDNA</option>
          <option value="Gmax_189_cds.fa">Gmax_189_cds.fa</option>
          <option value="Gmax_189_transcript.fa">Gmax_189_transcript.fa</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <button class="btn waves-effect waves-light" type="submit" name="action" >submit
        </button>
      </div>
      <div class="col s3">
        <button class="btn waves-effect waves-light" type="reset" name="action">clear
        </button>
      </div>

    </div>
  </form>
</div>



<h1>One Click Search</h1>
<mat-tab-group style="color: #4CAF50" [(selectedIndex)]="tabIndex">
  <mat-tab label="Gene">

  </mat-tab>
  <mat-tab label="Uniprot ID">
<!--    <input (keyup)="Search($event.target.value)">-->
  </mat-tab>
  <mat-tab label="Sequence">
  </mat-tab>
</mat-tab-group>

<div class="container" style="min-width: 1000px">
  <div class="row">
    <div class="input-field col s12">
      <textarea style="min-height: 150px" name="Search" class="browser-default" placeholder="Search" (keyup)="Search($event.target.value)" [(ngModel)]="query"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s6" (click)="Loading()">
      <button class="btn waves-effect waves-light" (click)="OneClick()" >submit</button>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ul *ngIf="tabIndex==1">
  <li *ngFor="let item of items | async" (click)="ListClick($event.target.innerText)">{{item.uniprot_id}}</li>
  <!--  <li *ngFor="let item of items | async"><mat-radio-button class="example-radio-button">{{item.uniprot_id}}</mat-radio-button></li>-->
</ul>

<ul *ngIf="tabIndex==0">
  <li *ngFor="let item of items | async" (click)="ListClick($event.target.innerText)">{{item.gene_name}}</li>
  <!--  <li *ngFor="let item of items | async"><mat-radio-button class="example-radio-button">{{item.uniprot_id}}</mat-radio-button></li>-->
</ul>
<div id="pdf" #pdf>
<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Details</label>
  <br>
    <div class="row">
      <div class="column">Name</div>
      <div class="column">{{proteinName}}</div>
    </div>
    <div class="row">
      <div class="column">Seqence</div>
      <div class="column"><textarea [(ngModel)]="proteinSeq" style="min-height: 100px"></textarea></div>
    </div>
  <br>
</div>

<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label >GLmol</label>
  <br>
<!--  <iframe src="/viewer.html?6jwy" style="width: 100%" height="768"></iframe>-->
<!--  <iframe [src]="glmolUrl" style="width: 100%" height="768"></iframe>-->

  <!--  <iframe src="http://soykb.org/search/glmol/viewer.html?Glyma14g08610_1.pdb" style="width: 100%" height="768"></iframe>-->
  <br>

  <mat-tab-group style="color: #4CAF50" style="width: 100%" height="768" animationDuration="0ms">
<!--    <mat-tab label="Q9ZU49_5jwy.1.A_121_269_default">-->
<!--      <iframe src="/viewer.html?5jwy" style="width: 100%" height="768"></iframe>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="Q9ZU49_5jwy.1.A_97_244">-->
<!--      <iframe src="/viewer.html?6jwy" style="width: 100%" height="768"></iframe>-->
<!--    </mat-tab>-->
    <mat-tab *ngFor="let pdb of pdbs" label="{{pdb}}">
      <ng-template matTabContent>
      <iframe [src]="SafeUrl(pdb)" style="width: 100%" height="768"></iframe>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Blast Result</label>
  <br>
  <div class="row">
    <button class="btn waves-effect waves-light" (click)="ShowAllRes()">Show All</button>
  </div>
  <div class="row" *ngFor="let res of showblastRes">
    <div style="max-width: 1000px">
      <div class="card">
        <div class="card-content">
          <!--        <span class="card-title">{{res.title}}</span>-->
          <pre>{{res}}</pre>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
</div>


<div *ngIf="debug">
  <mat-divider></mat-divider>
  <br>
  <label>Pathway Figure</label>
  <br>
  <img name="showpathway" src="http://rest.kegg.jp/get/hsa04520/image" style="max-width: 1000px">
</div>

<div *ngIf="debug"> <button class="btn waves-effect waves-light" (click)="downloadAsPDF()">Export To PDF</button></div>
