.folders {
    display: inline-block;
    width: 15%;
    border-right: 1px solid grey;
}

.files {
    display: inline-block;
    width: 84%;
    vertical-align: top;
}
.file-list {
    overflow: auto;
    max-height: 275px;
}
.folder-icon {
    transition: color 0.5s;
    cursor: pointer;
}
.folder-icon:hover {
    color: green;
}
.selected {
    color: green;
}
