<h3>Files</h3>

<mat-menu #DongXu>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.Dong_Xu">
            <a href="{{doc.url}}" target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #JayThelen>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.Jay_Thelen">
            <a href={{doc.url}} target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #AbeKoo>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.Abe_Koo">
            <a href={{doc.url}} target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #PhilipBates>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.Philip_Bates">
            <a href={{doc.url}} target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #DouglasAllen>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.Douglas_Allen">
            <a href={{doc.url}} target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #General>
    <mat-list>
        <mat-list-item *ngFor="let doc of files.General">
            <a href={{doc.url}} target="_blank">{{doc.fileName}}</a>
        </mat-list-item>
    </mat-list>
</mat-menu>

<mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <mat-icon mat-list-icon [matMenuTriggerFor]="DongXu">folder</mat-icon>
      <h4 mat-line>Dong Xu</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon [matMenuTriggerFor]="PhilipBates">folder</mat-icon>
        <h4 mat-line>Philip Bates</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon [matMenuTriggerFor]="JayThelen">folder</mat-icon>
        <h4 mat-line>Jay Thelen</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon [matMenuTriggerFor]="DouglasAllen">folder</mat-icon>
        <h4 mat-line>Douglas Allen</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon [matMenuTriggerFor]="AbeKoo">folder</mat-icon>
        <h4 mat-line>Abe Koo</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon [matMenuTriggerFor]="General">folder</mat-icon>
        <h4 mat-line>General</h4>
      </mat-list-item>
  </mat-list>
