<h4>Uploaded Files</h4>
<hr>
<mat-list class="folders">
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <h4 mat-line>{{folder}}</h4>
      <mat-icon class="folder-icon" (click)='openFolder(folder)' [class.selected]='folder == this.labname'>folder</mat-icon>
    </mat-list-item>
</mat-list>
<mat-list class="files">
    <h3 mat-subheader *ngIf="this.labname != ''">{{labname}} Lab</h3>
    <div class="file-list">
        <mat-list-item *ngFor="let displayFile of displayFiles">
            <a [href]="displayFile.url" target="_blank">{{displayFile.fileName}}</a>
        </mat-list-item>
    </div>
</mat-list>
