<mat-card id="base">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add a custom pathway
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="form" [formGroup]="addPathwayForm">
            <mat-form-field class="formitem" appearance="fill">
                <mat-label>Pathway Title</mat-label>
                <input formControlName="title" matInput placeholder="Custom Pathway" required>
            </mat-form-field>
            <mat-form-field class="formitem" appearance="fill">
                <mat-label>Pathway Paper</mat-label>
                <input formControlName="paper" matInput placeholder="Paper Name" required>
            </mat-form-field>

            <div class="formitem">
                <mat-label>Pathway Coordinate File</mat-label>
                <input formControlName="coordsFile" type="file" required>
            </div>

            <div class="formitem">
                <mat-label>Pathway Image File</mat-label>
                <input formControlName="imgFile" type="file" required>
            </div>
        </form>
        <button mat-raised-button color="primary" [disabled]="!addPathwayForm.valid">Submit</button>
    </mat-expansion-panel>
    
    <mat-table [dataSource]='dataSource' id='table' *ngIf="!loading">
        
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let pathway">{{ pathway.title }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="paper">
            <mat-header-cell *matHeaderCellDef>Paper</mat-header-cell>
            <mat-cell class="paper"
                        *matCellDef="let pathway">{{pathway.paper}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
            <mat-cell class="link"
                        *matCellDef="let pathway">
                        <a href="{{pathway.link}}" target="_blank">Go to Pathway</a>
                    </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
</mat-card>
